﻿@font-face {
	font-family: "VAGRoundedLight";
	src: url('../../Styles/fonts/VAG Rounded Light SSi Light.eot');
	src: url('../../Styles/fonts/VAG Rounded Light SSi Light.ttf') format('truetype');
}

@font-face {
	font-family: "VAG Rounded";
	src: url('../../Styles/fonts/VAG Rounded Bold.eot');
    src: url('../../Styles/fonts/VAG Rounded Bold.ttf') format('truetype');
}

@font-face {
	font-family: "VAGRounded-Light Italic";
	src: url('../../Styles/fonts/VAGRounded-Light Italic.eot');
	src: url('../../Styles/fonts/VAGRounded-Light Italic.ttf') format('truetype');
}

@font-face {
	font-family: "Aracne Regular";
    src: url('../../Styles/fonts/Aracne.eot');
    src: url('../../Styles/fonts/Aracne.eot?#iefix') format('embedded-opentype'),
         url('../../Styles/fonts/Aracne.ttf') format('truetype'),
         url('../../Styles/fonts/Aracne.svg#Aracne Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

img {
    border:none;
}

.font-AracneRegular
{
    font-family: "Aracne Regular", Arial;
}
.font-VAGRoundedLight, .font-normal
{
    font-family:"VAGRoundedLight";
}
.font-VAGRoundedBold, .font-bold
{
    font-family:"VAG Rounded";
}
.font-VAGRoundedLightItalic, .font-italic
{
    font-family:"VAGRounded-Light Italic";
}
.font-orange {
    color:#f57527;
}
.font-red {
    color:#dd2a1b;
}
.font-green {
    color:#67cd00;
}

.uppercase {
    text-transform:uppercase;
}

.bold
{
    width:100%;
}

html, body
{
    padding:0;
    margin:0;
    background-color:#f9f9f9;
    max-height:none;
}

body
{
    font-family: Arial;
    font-size:14px;
    /*font-size:30px;*/
    /*-webkit-user-select:none;*/
    -webkit-text-size-adjust:100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:focus {
outline: 0;
}

h1, h2, h3, h4
{
    font-family: "VAG Rounded";
    color:#000;
    text-transform:uppercase;
    margin:0;
}

h1
{
    font-size:28px;
}

h2
{
    font-size:24px;
}

input[type=text], input[type=password], select, textarea, input[type=tel], input[type=number]
{
    box-shadow: none;
    border:1px solid #bababa;
    font-family:Arial;
    font-size:2em;
}
input[type=number] {
    font-size:1.2em;
    padding:3px 5px;
    box-sizing:border-box;
}

.navigation {
  
  /* Collapsed */
  width: 0; 

  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
}

.page-mobile {
    box-shadow: -8px 0 8px #DEDEDE;
}

.page-wrap {
  width: 100%;
  float: right;
}

.orangeHeader {
    background-color:#f57527; 
    height:20px;
    padding:10px 10px 5px 10px;
    margin:5px auto 10px auto;
    color:#fff;
    letter-spacing:0.1em;
    font-family:'VAGRoundedLight';
    text-transform:uppercase;
    font-size:1.2em;
    font-weight:bold;
}

.header
{
    display:block;
    position:relative;
    text-align:left;
    padding:0;
    border:0;
    margin:0px auto 0 auto;
    background-color:#fff;
    height:60px;
    max-height:60px;
    min-height:60px;
    width:100%;
    font-family:"Aracne Regular", Arial;
    box-shadow: 0px 4px 8px #888;
    z-index:50;
    top:0;
    left:0;
}

.headerConnectionStatus {
    position:relative;
    top:0;
    left:0;
    width:100%;
    z-index:200;
    padding:0; 
    margin:0;
    border:0;
    box-shadow:none;
}

.pre_footer {
    position:fixed;
    display:block;
    left:0px;
    bottom:40px;
    text-align:left;
    padding:0;
    margin:10px;
    font-size:18px;
    height:30px;
    width:100%;
    font-family:VAGRoundedLight, Arial;
    text-transform:uppercase;
    z-index:30;
    color:#000;
}

.footer {
    position:fixed;
    display:block;
    left:0px;
    bottom:0px;
    text-align:left;
    padding:0;
    margin:0;
    background-color:#fff;
    font-size:30px;
    height:40px;
    width:100%;
    font-family:"Aracne Regular", Arial;
    box-shadow: 0px 4px 8px #DDDDDD;
    z-index:30;
    color:#fff;
}

.footer a, .linkBottomMenu a {
    font-size:0.6em;
    color:#fff;
    text-transform:uppercase;
    text-decoration:none;
    display:inline-block;
    width:100%;
}
.linkBottomMenu a {
    font-family:"Aracne Regular", Arial;
    font-size:1em;
    padding-left:5px;
}
.footer a:hover, .linkBottomMenu a:hover{
    color:#f57527;
}

.content {
    display:block;
    width:95%;
    margin:auto;
    padding:10px 5px;
    max-height:none;
}

.main {
    padding:0;
    width:95%;
    margin:auto;
    max-height:none;
    min-height:initial;
}

.table {
    display:table;
    border-collapse:collapse;
}

.table-row {
    display:table-row;
}

.table-cell {
    display:table-cell;
}

.linkLeftMenu div {
    padding-top:7px;
}
.linkLeftMenu div:first-of-type {
    padding-top:0;
}
.linkLeftMenu a{
    color:#000;
    font-family:'VAG Rounded';
    font-size:1em;
    text-decoration:none;
    display:inline-block;
    width:100%;
    padding-left:25px;
}

.linkLeftMenu a:hover{
    color:#f57527;
}
button {
    outline: none; /* for good measure */
    overflow: visible; /* removes extra side padding in IE */
    -webkit-appearance: none;
    -webkit-border-fit:border !important;
}


button span { 
    position: relative;
    display: block; 
    white-space: nowrap;    
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    /* Safari and Google Chrome only - fix margins */
    button span {
        margin-top: -1px;
    }
}

/*** TABLE OPERATIONS ***/
.operation-table {
    font-family:Arial;
    /*letter-spacing:-1px;*/
    border-collapse:collapse;
    table-layout:fixed;
}

.operation-table thead {
    background-color: #f57527;
    color: #fff;
}

.operation-table thead tr th{
    background-color:#f57527;
    padding:0;
    height:50px;
    color:#fff;
    text-align:center;
}
.operation-table thead tr th div {
    border-right:1px solid #d7d7d7;
    border-left:1px solid #c2c3c3;
    padding:15px 5px;
    height:15px;
}
.operation-table thead tr th:nth-of-type(4) div {
    padding-top:6px;
    height:24px;
}

.operation-table td {
    border:0;
}

.operation-table-row td div, .operation-table-alternate-row td div {
    /*border-right:1px solid #d7d7d7;
    border-left:1px solid #c2c3c3;*/
    border:0;
    padding:13px 5px 0 5px;
    height:27px;
    /*border:1px solid black;
    height:auto;*/
}

.operation-table-row td div .euro, .operation-table-alternate-row td div .euro {
    
}

.operation-table-row
{
    
}
.operation-table-row td, .operation-table-alternate-row td {
    padding:0;/*6px 0 4px 0;*/
    margin:0;
}
/*.operation-table-alternate-row td {
    padding:3px 0;
}*/
.operation-table-row td{
    background-color:#ebecec;
}

.operation-table-alternate-row, .operation-table-row {
    /*border-radius:8px;*/
    background-color:transparent;
    cursor:pointer;
}
.operation-table-alternate-row td:first-of-type, .operation-table-row td:first-of-type
{
    overflow:hidden;
    white-space:nowrap;
    /*border-bottom-left-radius:8px;
    border-top-left-radius:8px;*/
}
.operation-table-alternate-row td:last-of-type, .operation-table-row td:last-of-type
{
    /*border-bottom-right-radius:8px;
    border-top-right-radius:8px;*/
}
.operation-table-alternate-row td:last-of-type .tooltip, .operation-table-row td:last-of-type .tooltip {
    position:relative;
    top:-2px;
}

.operation-table-alternate-row
{
    
}
.operation-table-alternate-row td{
    background-color:#fff;
}

.operation-table-row td:last-of-type div, .operation-table-alternate-row td:last-of-type div, .operation-table thead tr th:last-of-type div {
    border-right:0;
}
.operation-table-row td:first-of-type div, .operation-table-alternate-row td:first-of-type div, .operation-table thead tr th:first-of-type div {
    border-left:0;
}

.operation-pagination {
    background-color:#f57527;
    border:1px solid #f57527;
    width:100%;
    text-align:center;
    color:#fff;
    font-family:"VAG Rounded";
}

.operation-detail, .operation-detail-alternate
{
    cursor:auto;
    font-size:1em;
    border:0;
    text-align:left;
}
.operation-detail .separator, .operation-detail-alternate .separator
{

}
.operation-detail .separator {
    /*border-bottom:2px solid #e5e5e5;*/
}
.operation-detail-alternate .separator {
    /*border-bottom:2px solid #fff;*/
}
.operation-detail .detail-content, .operation-detail-alternate .detail-content {
    padding: 2px 5px 5px 5px;
}

.ope-details-address {
    left: 41%;
}

.operation-not-achieved td
{
    color:#f57527;
}
.operation-commission td
{
    color:#f00;
}

.operation-help-link, .linkNoStyleNoUnderline {
    display:inline-block;
    padding:4px 6px;
    font-family:"VAGRoundedLight";
    font-size:1.2em;
}
.operation-help-link:hover, .linkNoStyleNoUnderline:hover {
    cursor:pointer;
    color:#f57527;
}
.operation-help-link:hover .font-orange, .linkNoStyleNoUnderline:hover .font-orange {
    color:#000;
}
.operation-help {
    display:none;
    position:absolute;
    width:350px;
    padding:5px;
    background-color:#fff;
    text-align:left;
    box-shadow: 0px 0px 5px #a9a9a9;
    border:1px solid #bababa;
    z-index:1000;
}
.operation-help .font-orange, .operation-help .font-red, .operation-help .font-green {
    font-weight:bold;
}
.operation-help div div {
    margin-top:5px;
}
.operation-help div div:last-of-type {
    margin-top:0;
}
.no-operation-detail {
    cursor:default;
}

.ellipsis {
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

.view-link, .view-link:active {
    text-decoration:none;
    color:#000;
    font-family:"VAG Rounded";
    text-transform:uppercase;
}
.view-link:hover {
    color:#f57527;
}

.picto-list img {
    margin: 0 0 6px 6px;
    border:1px solid #fff;
}
.picto-list img:hover {
    cursor:pointer;
}
.picto-list img.selected {
    outline:3px solid #f57527;
}

.result-div, .result-div-orange {
    text-align:left;
}
.result-div-orange {
    background-color:#f57527;
    padding:10px;
    padding-bottom:6px;
    color:#fff;
    font-family:"VAGRoundedLight";
}
.result-div {
    font-size:1.2em;
    font-family:"VAG Rounded";
}

.tooltip 
{
    display:inline;
    position:relative;
}
.tooltip:hover:after
{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 28px;
    color: #fff;
    content: attr(tooltiptext);
    left: -20px;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    white-space:nowrap;
}
.tooltip:hover:before
{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 23px;
    content: "";
    left: 20%;
    position: absolute;
    z-index: 99;
}
/*** FIN TABLE OPERATIONS ***/

.orange-big-button {
    padding-top:7px;
    -webkit-appearance:none;
    border-radius:0;
}

::-webkit-scrollbar-track {
    background:transparent none;
}

.page-mobile select {
    background-color:#fff;
    height:30px;
    font-size:1.2em;
}

.page-mobile input[type=text], .page-mobile textarea {
    font-size:1.2em;
}
.page-mobile input[type=text] {
    height: 30px;
}

.headerfix {
    position:fixed;
    top:0;
    left:0;
    box-shadow: 0px 4px 8px #999;
    border:0;
    margin:0;
    padding:0;
}

.sticky {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -o-sticky;
  position: -ms-sticky;
  position: sticky;
  top: 0;
  z-index: 99;
}

.bottomShadow {
    box-shadow: 0px 4px 8px #999;
}

/*  DROPDOWN LIKE STYLE  */
.dropdown-like-header {
    font-family:'VAG Rounded';
    text-transform:uppercase;
    color:#f57527;
    border-top:1px solid #b7b7b7;
    padding:0 10px;
    position:relative;
}
.dropdown-like-header .arrow {
    height:10px;
    position:absolute;
    right:10px;
    top:15px;
}
.dropdown-like-content {
    background-color:#ebecec;
    display:none;
}
.dropdown-like-header, .dropdown-like-content-item {
    border-bottom:1px solid #b7b7b7;
    padding-top:15px;
    padding-bottom:10px;
}
.dropdown-like-content-item {
    text-align:center;
    font-family:'VAGRoundedLight';
}
.dropdown-like-content-item.selected {
    font-family:'VAG Rounded';
    font-weight:bold;
}
.dropdown-like-content-item.disabled {
    color:#b7b7b7;
}
/*  END DROPDOWN LIKE STYLE  */


.alert-bg {
    display:none;
    position:fixed;
    left:0;
    top:0;
    z-index:1000;
    background-color: rgba(0, 0, 0, 0.2);
}
.alert-popup {
    background-color:#f57527;
    padding:10px;
    padding-bottom:6px;
    color:#fff;
    font-family:"VAGRoundedLight";
    box-shadow: #666 0 0 5px;
    display:inline-block;
    max-width:90%;
}

.info-bg {
    display:none;
    position:fixed;
    left:0;
    top:0;
    z-index:1000;
    background-color: rgba(0, 0, 0, 0.2);
}
.info-popup {
    background-color:#fff;
    padding:10px;
    padding-bottom:6px;
    color:#000;
    box-shadow: #666 0 0 5px;
    display:inline-block;
    max-width:90%;
}
.info-popup-title {
    font-family:Arial;
    font-weight:bold;
}
.info-popup-content {
    font-family: Arial;
}

/* SQUARED THREE */
.squaredThree {
	width: 20px;	
	margin: 20px auto;
	position: relative;
}

.squaredThree label {
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;
	top: 0;
	border-radius: 4px;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);

	background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
	background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
	background: -o-linear-gradient(top, #222 0%, #45484d 100%);
	background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
	background: linear-gradient(top, #222 0%, #45484d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.squaredThree label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 4px;
	left: 4px;
	border: 3px solid #fcfff4;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.squaredThree label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}

.squaredThree input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

input [type=text], input[type=password], select, textarea, input[type=tel], input[type=number]{
    -webkit-appearance: none;
    border-radius:0;
}

.authentication input[type=text], .authentication input[type=password]
{
    box-shadow: none;
    border:1px solid #bababa;
    font-family:Arial;
    font-size:1em;
    height: 30px;
    padding:0 2px;
}

.searchHighlighted {
    font-weight:bold;
    font-size:larger;
}

.tr-border:hover, .tr-no-border:hover {
    background-color:#f57527;
    color:#fff;
}

.tr-border td {
    border-bottom:1px solid #ff6a00;
}
.tr-no-border td {
    border-bottom:0;
}

.button {
    outline: none; /* for good measure */
    overflow: visible; /* removes extra side padding in IE */
    -webkit-appearance: none;
    -webkit-border-fit:border !important;
    border-radius:0;
    font-family:Arial;
    font-size:1em;
    padding:5px;
}

.button span {
    position: relative;
    display: block;
    white-space: nowrap;
    border-radius:0;
    font-family:Arial;
    font-size:1em;
}

.textbox {
    -webkit-appearance: none;
    border-radius:0;
}

.textbox span{
    -webkit-appearance: none;
    border-radius:0;
}

.reqBorder {
    outline: 2px solid red;
}

.reqBorder2 {
    border: 2px solid red;
}

