﻿#calc-sum.table .table-row .table-cell:nth-child(1)
{
    width:30px;
    text-align:center;
}
#calc-sum.table .table-row .table-cell:nth-child(2)
{
    text-align:right;
    padding-right:10px;
}
#calc-sum.table .table-row .table-cell:nth-child(3)
{
    text-align:left;
}