﻿.link-account {
    display:flex;
    flex-direction:row;
}
.link-account > div:first-of-type {
    flex:1;
}
.link-account > div:first-of-type input {
    width:100%;
    padding:0 5px;
    box-sizing:border-box;
    height:26px;
    border:1px solid #f57527;
    font-size: 1em;
}
.link-account > div:last-of-type {
    flex:0;
}

.link-button {
    border:none;
    font-size:1em;
    color: #fff;
    background-color: #f57527;
    display: inline-block;
    background-repeat:no-repeat;
    background-position: center left+10px;
    background-size: 20px auto;
    padding: 3px 15px 3px 40px;
    font-size:1em;
}
.link-button {
    background-image:url('Img/link_white.png');
    height: 100%;
}

.delete-link {
    height:26px;
    width: 30px;
    background: url(Img/delete-white.png) center no-repeat;
    background-color: #f57527;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border:none;
}

.hidden {
    display:none;
}

.shorten-link {
    width:calc(100% - 40px);
    position:absolute;
    top:-28px;
}