﻿.activity-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 11px;
    background-color:#fff;
    color: #fff;
    border:1px dashed #000;
    border-radius: 5px;
    padding: 2px 4px;
    max-width:48px;
    text-align:center;
}
.activity-icon img {
    width:22px;
}
.activity-icon.client-icon {
    background-color:#0074C8;
}
.activity-icon.alert-icon {
    background-color:#ff4444;
}
.activity-icon.global-icon {
    background: -webkit-linear-gradient(left top, #0074C8, #ff4444); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #0074C8, #ff4444); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #0074C8, #ff4444); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #0074C8, #ff4444); /* Standard syntax */
}
.activity-icon > div {
}
.activity-icon > div:first-of-type {
    text-transform: uppercase;
    font-size: 0.9em;
    color:#000;
}
.activity-icon > div:last-of-type {
    font-weight:bold;
    font-size: 1.8em;
    line-height: 20px;
    position: relative;
    top: 1px;
}

.activity-container {
    position:relative;
}
.activity-container:hover .activity-details {
    display:block;
}
.activity-details {
    display:none;
    position:absolute;
    width:200px;
    left:-89px;
    top:47px;
    z-index:100;
    border-radius:5px;
    border:1.2px dashed #000;
    background-color:#fff;
    padding:2px 5px 5px 5px;
    box-shadow: 1px 1px 5px #999;
}

.activity-details .arrow-up {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #000;
    position: absolute;
    top: -8px;
    left: 50%;
}
.arrow-bg {
    position: absolute;
    top: -8px;
    left: 0;
    background-color: transparent;
    height: 8px;
    width: 100%;
}

.activity-details-loading {
    display:none;
    position:absolute;
    left:0;
    top:0;
    z-index:1000;
    background-color:rgba(255, 255, 255, 0.8);
    background-image: url('Img/loading.gif');
    background-position:center;
    background-repeat:no-repeat;
}