﻿.profile-label {
    display: inline-block;
    width: 50px;
    text-align: center;
    /* background-color: #ddd; */
    border: 1px solid #aaa;
    height: 30px;
    box-sizing: border-box;
    line-height: 26px;
    font-weight: bold;
}