﻿#div-sous-surveillance, .div-outer-sous-surveillance {
    position: relative;
}

.tabSubtitle {
    margin-top:20px;
}
.tabSubtitle > div:first-child {
    width: 50%;
    float: left;
}
.tabSubtitle .mise-sous-surveillance {
    display: inline-block;
    float: right;
    position: relative;
    top: -2px;
    right: 5px;
}
.div-sous-surveillance-lock, .div-sous-surveillance-readonly {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 200;
    background-color: rgba(250, 250, 250, 0.8);
}

.div-sous-surveillance-readonly {
    background-color: transparent;
}

div.table-row.head div.table-cell{
    text-align :center;
}

.alert-table {
    margin-top: 10px;
}

.alert-table .head, .alert-table .head-light {
    font-weight: bold;
    color: #fff;
    background-color: #344b56;
    text-transform: uppercase;
}

.alert-table .head-light {
    background-color: #517384;
}

.alert-table input[type=checkbox] {
    display: none;
}

.alert-table input[type=text] {
    width: 150px;
}

.alert-table .table-row .table-cell {
    border-bottom: 1px solid #ddd;
    vertical-align: middle;
    height: 30px;
}

.alert-table .table-row .table-cell .toggle-soft {
    position: relative;
    top: -3px;
}

.alert-table .table-row .table-cell:nth-of-type(2) {
    text-align: center;
}

.alert-table .table-row .table-cell:nth-of-type(3), .alert-table .table-row .table-cell:nth-of-type(4) {
    padding: 0 5px;
}

.alert-table .head .table-cell, .alert-table .head-light .table-cell {
    padding: 0 10px;
    height: 20px;
}