﻿#div-sous-surveillance {
    display:none;
}

.tabSubtitle {
    margin-top:0;
    text-transform:none;
    border-bottom:0;
    font-size:16px;
    color:#f57527;
    font-family:Arial;
}
.tabSubtitle > div:first-child, .tabSubtitle .mise-sous-surveillance {
    float:none;
}
.tabSubtitle .mise-sous-surveillance {
    margin: 4px 0 0 5px;
}

.alert-table {
    margin-top:0;
}
