﻿#dialog-cap-email, #dialog-cap-multi-email, #dialog-cap-force-email {
    display:none;
}
#dialog-cap-email input {
    width:100%;
    box-sizing:border-box;
}
#dialog-cap-email>div:last-of-type, #dialog-cap-force-email>div:last-of-type, #dialog-cap-multi-email>div:last-of-type {
    margin-top:15px;
    text-align:center;
}

input[type=text].readonly {
    color:#344b56;
    border:1px solid transparent;
}

#dialog-cap-multi-email #select-list
{
    max-height:500px;
    overflow-y:scroll;
    border-bottom:1px solid #344b56;
}
#dialog-cap-multi-email #select-list>div {
    border-bottom:1px solid #344b56;
    cursor:pointer;
    padding:5px;
}
#dialog-cap-multi-email #select-list div:hover {
    background-color:#f0f0f0;
}
#dialog-cap-multi-email #select-list div:last-of-type {
    border-bottom:none;
}
#dialog-cap-multi-email #select-list pre {
    font-family:Arial;
    padding: 0;
    font-size: 0.9em;
}