﻿.scoring-icon:hover {
    cursor:pointer;
}
.churn-container .scoring-icon {
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid #ffcc5c;
    color: #000;
    font-size: 10px;
    text-transform: none;
    display: flex;
    flex-direction: row;
    max-width: none;
    width: 67px;
}
.churn-container .scoring-icon div {
    font-size:1em;
    line-height:normal;
    text-align:left;
}
.churn-container .scoring-icon > div:last-of-type > div:last-of-type {
        text-transform:uppercase;
}
.churn-container .scoring-icon > div:last-of-type {
    top:0;
}
.churn-container .scoring-icon > div:last-of-type {
        padding-left: 5px;
}
.churn-container .scoring-icon img {
        height: 30px;
        position:relative;
        top:1px;
}
.churn-container .scoring-details {
    background-color:#ffcc5c;
    top:45px;
    left:-118px;
    border-radius:unset;
}
.churn-container .scoring-details-header {
    background-color:#ffcc5c;
    color:#000;
    border-radius:unset;
}
.churn-container .arrow-up {
    border-bottom-color:#ffcc5c;
}
.churn-container .scoring-details-inner {
    background-color: #fefbd8;
}