﻿.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
    width: calc(100% - 2px);
    height:24px;
    border: 1px solid #f57527;
    background-color: #fff;
    padding: 0;
    color: #000;
    display:inline-block;
    text-transform:none;
}
.inputfile + label span {
    width: calc(100% - 139px);
    padding:0 5px;
    box-sizing:border-box;
    min-height: 24px;
    line-height:24px;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
}
.inputfile + label strong {
    height: 100%;
    width:135px;
    box-sizing:border-box;
    font-weight:normal;
    color: #fff;
    background-color: #f57527;
    display: inline-block;
    background-image:url('Img/file_upload_white.png');
    background-repeat:no-repeat;
    background-position: center left+10px;
    background-size: 20px auto;
    padding: 2px 15px 3px 40px;
    font-size:1em;
}

.inputfile:focus + label, .inputfile.has-focus + label, .inputfile + label:hover {
    border-color: #e96f25;
}
.inputfile + label:hover strong, .search-button:hover {
    background-color: #e96f25;
}

.cloud-download-button, .file-open-button {
    border:none;
    font-size:1em;
    color: #fff;
    background-color: #f57527;
    display: inline-block;
    background-repeat:no-repeat;
    background-position: center left+10px;
    background-size: 20px auto;
    padding: 3px 15px 3px 40px;
    font-size:1em;
    width:136px;
}
.file-open-button {
    background-image:url('Img/open_new_white.png');
    color:#fff !important;
    text-decoration:none !important;
    box-sizing:border-box;
}
.cloud-download-button {
    background-image:url('Img/cloud_download_white.png');
}

#dialog-client-multi-choice .defaultTable2 tbody tr:hover {
    background-color:#ff9966;
    cursor:pointer;
}
#dialog-client-multi-choice.ui-dialog.ui-dialog-content {
    padding:0 !important;
    background-color:red;
}

.file-upload-form select {
    height:26px;
    width:100%;
    font-size:1em;
}

.trimmed-filename {
    position:relative;
    vertical-align:middle;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.trimmed-filename img {
    display:none;
    position:absolute;
    right:0;
    top:3px;
    background-color:#fff;
    opacity:0.8;
}
.trimmed-filename:hover img {
    display:inline-block;
    cursor:pointer;
}
.trimmed-filename:hover img:active {
    background-color:#f57527;
}

#ticketID-file input[type=checkbox] {
    position:relative;
    top:2px;
}