﻿.client-search {
    display:flex;
    flex-direction:row;
}
.client-search > div:first-of-type {
    flex:1;
}
.client-search > div:first-of-type input {
    width:100%;
    padding:0 5px;
    box-sizing:border-box;
    height:26px;
    border:1px solid #f57527;
    font-size: 1em;
}
.client-search > div:last-of-type {
    flex:0;
}

.search-button {
    border:none;
    font-size:1em;
    color: #fff;
    background-color: #f57527;
    display: inline-block;
    background-repeat:no-repeat;
    background-position: center left+10px;
    background-size: 20px auto;
    padding: 3px 15px 3px 40px;
    font-size:1em;
}
.search-button {
    background-image:url('Img/search_white.png');
    height: 100%;
}