﻿.client-relation {

}
.client-relation .clickable {
    cursor:pointer;
}
.client-relation .relation-container.hidden
{
    display:none;
}
.relation-container .button-container {
    text-align: right;
    margin-bottom: 5px;
    min-height: 18px;
}
.relation-container .relation-row
{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-height: 600px;
    overflow:auto;
}
.relation-container .relation-row table {
    width:100%;
    border-collapse:collapse;
}
.relation-container .relation-row div.no-relation 
{
    width: 100%;
    text-align: center;
    font-weight:bold;
}
.relation-container select {
    width:200px;
}
.relation-container select:disabled {
    color: #344b56;
    border: 0;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.relation-container .relation-row tr th, .relation-container .relation-row tr td {
    padding: 4px 10px;
    text-align: center;
}
.relation-container .relation-row tr td {
    height: 35px;
}

.relation-container .relation-row tr th {
    font-weight: bold;
    color: #fff;
    background-color: #344b56;
    white-space: nowrap;
}
.relation-container .relation-row tbody tr.row-odd {
    background-color: #e5e5e5;
}

.relation-period
{
    margin-top:15px;
}

.relation-container .lower-text
{
    font-size:0.8em;
}