﻿select {
    height: 25px;
}

.tableHistory th {
    background-color: #344b56;
    color: #fff;
    text-align: center;
    font-weight: bold;
    height: 25px;
}

.tableHistory td {
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
}

#LimitsPanel table {
}

#LimitsPanel table th, #SMSPanel table th, #AmlProfilePanel th {
    background-color: #344b56;
    color: #fff;
    text-align: center;
    font-weight: bold;
    height: 25px;
}

#LimitsPanel table td, #SMSPanel table td, #AmlProfilePanel table td {
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
}

#SMSPanel table td, #AmlProfilePanel table td {
    padding: 5px 0 5px 10px;
}

.ui-progressbar {
    height: 15px;
    border: 2px solid #b6b6b1;
}

.ui-progressbar-value {
    overflow: visible;
}

.ui-progressbar-value span {
    white-space: nowrap;
    font-size: 11px;
    color: #000;
    position: relative;
    top: 1px;
}

.ui-progressbar.ui-corner-all {
    border-radius: 50px;
}

.ui-progressbar-value span.font-white {
    color: #fff;
}

.ui-progressbar-value span.font-orange {
    color: #f57527;
}

.ClientDetails .button {
    padding-top: 2px;
}

.alertPastille {
    z-index: 100;
    position: absolute;
}

.semiTransparent {
    filter: alpha(opacity=60);
    opacity: 0.6;
}