﻿.death-status-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 11px;
    background-color:#fff;
    color: #fff;
    border:1px solid #000;
    border-radius: 5px;
    padding: 2px 4px 0 4px;
    width:60px;
    text-align:center;
}
.death-status-icon img {
    width: 55px;
    position: relative;
    top: -1px;
}
.death-status-icon.client-icon {
    background-color:#0074C8;
}
.death-status-icon.alert-icon {
    background-color:#ff4444;
}
.death-status-icon.global-icon {
    background: -webkit-linear-gradient(left top, #0074C8, #ff4444); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #0074C8, #ff4444); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #0074C8, #ff4444); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #0074C8, #ff4444); /* Standard syntax */
}
.death-status-icon > div {
    text-transform: uppercase;
    font-size: 0.7em;
    color:#000;
}
.death-status-icon > div:first-of-type {
    font-size: 0.9em;
}
.death-status-icon > div:last-of-type {
    font-weight:bold;
    font-size: 1.8em;
    line-height: 18px;
    position: relative;
    top: 1px;
}

.death-status-container {
    position:relative;
}
.death-status-container:hover .death-status-details {
    display:block;
}
.death-status-details {
    display:none;
    position:absolute;
    min-width:200px;
    left:-79px;
    top:50px;
    z-index:101;
    border-radius:5px;
    border:1.2px solid #000;
    background-color:#fff;
    padding:2px 5px 5px 5px;
    box-shadow: 1px 1px 5px #999;
}

.death-status-details .arrow-up {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #000;
    position: absolute;
    top: -8px;
    left: 50%;
}
.arrow-bg {
    position: absolute;
    top: -8px;
    left: 0;
    background-color: transparent;
    height: 8px;
    width: 100%;
}

.death-status-details-loading {
    display:none;
    position:absolute;
    left:0;
    top:0;
    z-index:1000;
    background-color:rgba(255, 255, 255, 0.8);
    background-image: url('Img/loading.gif');
    background-position:center;
    background-repeat:no-repeat;
}

.death-status-details .top-right-corner
{
    position:relative;
}
.death-status-details .top-right-corner input[type=image] {
    position:absolute;
    right:-10px;
    top:-7px;
    width:36px;
}

.death-status-details .succession-details .succession-infos {
    max-height:333px;
    overflow-y:scroll;
}
.death-status-details .succession-details .main-title {
    background-color:#344b56;
    color:#fff;
    font-weight: bold;
    text-transform: uppercase;
    padding:4px;
    margin:15px 0 2px 0;
}
.death-status-details .succession-details .group-title {
    color: #344b56;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px solid #344b56;
    margin-top:8px;
}
.death-status-details .succession-details .group-infos {
    
}
.death-status-details .succession-details .group-infos > div {

}