﻿.multi-item {
    min-height:25px;
    line-height:25px;
    border-bottom:1px solid #ccc;
}
.multi-item.even-row {

}
.multi-item.odd-row {
    background-color:#e5e5e5;
}
.multi-item:after {
    display: block;
    content: '';
    clear: both;
}

.multi-row-data {
    width:calc(100% - 40px);
    box-sizing:border-box;
    display:inline-block;
}
input.multi-row-data, select.multi-row-data, .multi-row-data input, .multi-row-data select
{
    height:21px;
}
.multi-row-btn {
    width:40px;
    float:right;
    text-align:center;
    height:21px;
    line-height:21px;
}

.multi-row-footer {
    margin-top:5px;
}

.multi-item .multi-row-btn {
    visibility: hidden;
}
.multi-item:hover .multi-row-btn {
    visibility: visible;
}

.minus {
    position:relative;
    top:3px;
}