﻿html, body {
    background-color:white;
}
.header, .no-print, .footer {
    display:none
}
.page {
    width:100%;
    border:0;
    margin:0;
}

/*.cadreOrange {
    width:100%;
    box-sizing:border-box;
}*/
#divClientCashInOut {
    width:97%;
    float:right;
}

.ar-container {
    max-width:none;
    max-height:none;
    overflow:visible;
}

.data-array, .data-graph {
    float: none;
    width: 100%;
}
.data-array {
    margin-top:10px;
}
.chart-container {
    width:50%;
    text-align:center;
    overflow:visible;
    height:280px;
}
#containerClientOperationsIN {
    float:left;
}
#containerClientOperationsOUT {
    float:right;
}

.ui-buttonset .ui-button.ui-state-default .ui-button-text {
    font-size:0.6em;
}

h1 {
    margin:0;
}

thead {display: table-row-group !important;}

.flex-container:nth-of-type(1) .cadreOrange {
    width:47.3%;
}
.flex-container:nth-of-type(2) {
    flex-direction: column;
}
.flex-container:nth-of-type(2) .cadreOrange {
    width:auto
}