﻿#div-alert-details {

}
#div-alert-details input[type=submit],
#div-alert-details select {
    width:100%;
}
#div-alert-details textarea {
    width:100%;
    height:200px;
    resize:vertical;
    font-family:Arial;
    font-size:1em;
    box-sizing:border-box;
}

.list-kyc-inconsistencies {
    width:100%;
    border-collapse:collapse;
}
.list-kyc-inconsistencies thead tr {
    color:White;
    background-color:#344B56;
    font-weight:bold;
    height:25px;
}
.list-kyc-inconsistencies tbody tr {
    border-top: 1px solid #CCC;
}
.list-kyc-inconsistencies-border{
    border: 3px solid #344b56;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-top: 5px;
}

.filters {
    display:flex;
    flex-direction:row;
    width:30%;
    justify-content:space-between;
}
.filters>div {
    align-self:center;
}

.customer-list {
    list-style-type:none;
    padding:0;
    margin:0;
}

.kyc-inconsistencies-loading
{
    background:url('img/loading.gif') no-repeat center;
    background-size:30px !important;
    display:none;
    position:fixed;
    background-color:rgba(255, 255, 255, 0.5);
    z-index:100000;
}