﻿.comment-counter {
    float:right;
}

#show-previous-aml-comment:hover {
    cursor:pointer;
    text-decoration:underline;
}
#show-previous-aml-comment {
    position:relative;
    top:5px;
    text-align:center;
}
#previous-aml-comment {
    display:none;
    max-height:150px;
    overflow:auto;
    border:1px solid #ccc;
}
.row-even, .row-odd {
    border-top:1px solid #ccc;
    padding: 3px 5px;
}
#previous-aml-comment .row-even:first-of-type {
    border-top:0;
}
.row-even {
    background-color:#fff;
}
.row-odd {
    background-color:#e5e5e5;
}

textarea { resize:vertical; }

.hidden {
    display:none;
}
.visible {
    display:auto;
}

.more-actions {
    display:inline-block;
    position:relative;
    top:-3px;
    vertical-align:bottom;
}
.more-actions .actions {
    display:none;
    position: absolute;
    left: -24px;
    bottom: 27px;
    width: 70px;
    background-color: #fff;
    box-shadow: 1px 1px 5px #999;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.more-actions:hover > .actions:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #ccc;
    position: absolute;
    left: calc((70px / 2) - 5px);
    bottom: -10px;
}
.more-actions:hover > .actions:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #fff;
    position: absolute;
    left: calc((70px / 2) - 4px);
    bottom: -8px;
}
.more-actions .actions .button {
    margin:0;
    width:100%;
}
.more-actions img {
    height:30px;
}
.more-actions:hover > .actions {
    display:block;
}