﻿.no-result-panel {
    text-align:center;
    font-weight:bold;
}
.onfido-report {
    border: 1px solid #ddd;
    border-radius:5px;
    font-family: Arial;
    padding:15px;
    margin-top:15px;
}
.onfido-report .report-title {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*width: calc(50% + 100px);*/
    margin-bottom: 10px;
}
.onfido-report .report-title>div:first-of-type, .onfido-report .report-title>div:last-of-type {
    
}
.onfido-report .report-title > div:first-of-type {
    text-align: left;
    width: 35%;
}
.onfido-report .report-title > div:last-of-type {
    text-align: right;
    width: 33%;
}
.onfido-report .report-name {
    font-size: 20px;
}
.onfido-result span {
    text-transform: none;
    font-size:inherit;
    font-family:inherit;
}
.onfido-result .breakdown-list {
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
}
.onfido-result .breakdown {
    margin: 0 0 10px 0;
    width:32%;
}
.onfido-result .breakdown img
{
    height:25px;
    position:relative;
    top:5px;
}

.onfido-result .inner-breakdown 
{
    padding-left:30px;
}
.onfido-result .inner-breakdown img {
    height:18px;
    top:3px;
}

.onfido-result .breakdown-cat
{
    font-weight:bold;
}

.onfido-result span.result-pass {
    color: #00c800;
}
.onfido-result div.result-pass {
    background-color: #00c800;
}
.onfido-result span.result-warning {
    color: #f0a500;
}
.onfido-result div.result-warning {
    background-color: #f0a500;
}
.onfido-result span.result-fail {
    color: #ff0000;
}
.onfido-result div.result-fail {
    background-color: #ff0000;
}
.onfido-result span.result-not-found {
    color: #ddd;
}
.onfido-result div.result-not-found {
    background-color: #ddd;
}
.onfido-result span.result-reject {
    color: #000;
}
.onfido-result div.result-reject {
    background-color: #000;
}

.onfido-result span.important {
    font-weight: bold;
    color: #f0a500;
}

.report-result div {
    font-size: 17px;
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    width: 200px;
    padding: 5px 0 3px 0;
    color: #fff;
    border-radius: 5px;
}

.table-elapsed-time th
{
    text-align:center;
    padding: 0 15px;
}
.table-elapsed-time tr td:last-of-type {
    text-align: center;
}