﻿.font-orange {
    color:#f57527;
}
.font-red {
    color:#dd2a1b;
}
.font-green {
    color:#67cd00;
}

/*** TABLE OPERATIONS ***/
.operation-table {
    /*font-family:"VAGRoundedLight";*/
    border-collapse:collapse;
}

.operation-table thead {
    background-color: #f57527;
    color: #fff;
}

.operation-table thead tr th{
    background-color:#f57527;
    padding:0;
    height:50px;
    color:#fff;
    text-align:center;
}
.operation-table thead tr th div {
    border-right:1px solid #d7d7d7;
    border-left:1px solid #c2c3c3;
    padding:15px 5px;
    height:15px;
}
.operation-table thead tr th:nth-of-type(4) div {
    padding-top:6px;
    height:24px;
}

.operation-table td {
    border:0;
}

.operation-table-row td div, .operation-table-alternate-row td div,.operation-table-row-red td div, .operation-table-alternate-row-red td div {
    border-right:1px solid #d7d7d7;
    border-left:1px solid #c2c3c3;
    padding:7px 5px 4px 5px;
    height:20px;
}

.operation-table-row
{
    
}
.operation-table-row td, .operation-table-alternate-row td, .operation-table-row-red td, .operation-table-alternate-row-red td {
    padding:4px 0;
    margin:0;
}
/*.operation-table-alternate-row td {
    padding:3px 0;
}*/
.operation-table-row td{
    background-color:#ebecec;
}

.operation-table-alternate-row, .operation-table-row, .operation-table-row-red, .operation-table-alternate-row-red {
    /*border-radius:8px;*/
    background-color:transparent;
    cursor:pointer;
}
.operation-table-alternate-row td:first-of-type, .operation-table-row td:first-of-type
{
    /*border-bottom-left-radius:8px;
    border-top-left-radius:8px;*/
}
.operation-table-alternate-row td:last-of-type, .operation-table-row td:last-of-type
{
    /*border-bottom-right-radius:8px;
    border-top-right-radius:8px;*/
}
.operation-table-alternate-row td:last-of-type .tooltip, .operation-table-row-red td:last-of-type .tooltip, .operation-table-row-red td:last-of-type .tooltip, .operation-table-alternate-row td:last-of-type .tooltip {
    position:relative;
    top:-2px;
}

.operation-table-alternate-row
{
    
}
.operation-table-alternate-row td{
    background-color:#fff;
}

.operation-table-row-red td {
    background-color:#f36868;
}
.operation-table-alternate-row-red td {
    background-color:#f79797;
}

.operation-table-row td:last-of-type div, .operation-table-alternate-row td:last-of-type div, operation-table-row-red td:last-of-type div, .operation-table-row-red td:last-of-type div,  .operation-table thead tr th:last-of-type div {
    border-right:0;
}
.operation-table-row td:first-of-type div, .operation-table-alternate-row td:first-of-type div, operation-table-row-red td:first-of-type div, .operation-table-row-red td:first-of-type div, .operation-table thead tr th:first-of-type div {
    border-left:0;
}

.operation-pagination {
    background-color:#f57527;
    border:1px solid #f57527;
    width:100%;
    text-align:center;
    color:#fff;
    /*font-family:"VAG Rounded";*/
    font-weight:bold;
}

.operation-detail, .operation-detail-alternate
{
    cursor:auto;
    font-size:0.9em;
    border:0;
    text-align:left;
}
.operation-detail .separator, .operation-detail-alternate .separator
{

}
.operation-detail .separator {
    /*border-bottom:2px solid #e5e5e5;*/
}
.operation-detail-alternate .separator {
    /*border-bottom:2px solid #fff;*/
}
.operation-detail .detail-content, .operation-detail-alternate .detail-content {
    padding: 2px 10px 5px 35px;
}

.ope-details-address {
    left: 41%;
}

.operation-not-achieved td
{
    color:#f57527;
}
.operation-commission td
{
    color:#f00;
}

.operation-help-link, .linkNoStyleNoUnderline {
    display:inline-block;
    padding:4px 6px;
    /*font-family:"VAGRoundedLight";*/
    font-size:1.2em;
}
.operation-help-link:hover, .linkNoStyleNoUnderline:hover {
    cursor:pointer;
    color:#f57527;
}
.operation-help-link:hover .font-orange, .linkNoStyleNoUnderline:hover .font-orange {
    color:#000;
}
.operation-help {
    display:none;
    position:absolute;
    width:350px;
    padding:5px;
    background-color:#fff;
    text-align:left;
    box-shadow: 0px 0px 5px #a9a9a9;
    border:1px solid #bababa;
    z-index:1000;
}
.operation-help .font-orange, .operation-help .font-red, .operation-help .font-green {
    font-weight:bold;
}
.operation-help div div {
    margin-top:5px;
}
.operation-help div div:last-of-type {
    margin-top:0;
}
.no-operation-detail {
    cursor:default;
}

.ellipsis {
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

.view-link, .view-link:active {
    text-decoration:none;
    color:#000;
    /*font-family:"VAG Rounded";*/
    font-weight:bold;
    text-transform:uppercase;
}
.view-link:hover {
    color:#f57527;
}

.picto-list img {
    margin: 0 0 6px 6px;
    border:1px solid #fff;
}
.picto-list img:hover {
    cursor:pointer;
}
.picto-list img.selected {
    outline:3px solid #f57527;
}

.result-div, .result-div-orange {
    text-align:left;
}
.result-div-orange {
    background-color:#f57527;
    padding:10px;
    color:#fff;
}
.result-div {
    font-size:1.2em;
    /*font-family:"VAG Rounded";*/
    font-weight:bold;
}

.tooltip 
{
    display:inline;
    position:relative;
}
.tooltip:hover:after
{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 28px;
    color: #fff;
    content: attr(tooltiptext);
    left: -20px;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    white-space:nowrap;
}
.tooltip:hover:before
{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 23px;
    content: "";
    left: 20%;
    position: absolute;
    z-index: 99;
}
/*** FIN TABLE OPERATIONS ***/

/*** COBALT ***/
.cobalt-ope-details {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 -2px 5px -2px;
}
.cobalt-ope-details > div {
    /*flex: 1;*/
    border-radius: 5px;
    background-color: #ffffbb;
    padding: 5px;
    margin: 0 2px;
    border: 1px solid #dddd00;
    white-space: nowrap;
}
.cobalt-ope-details > div div:first-of-type {
    font-weight:bold;
}