﻿/*PDF EDITOR*/
.doc-container {
    font-size: 16px;
    position: relative;
    width: 900px;
    height: 1272px;
    border: 2px solid #f57527;
    margin: 10px auto;
}

.template {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.asset {
    position: absolute;
    z-index: 1;
}

.draggable {
    cursor: hand;
    cursor: pointer;
}

.rotatable {
    padding: 10px;
    border: 1px solid #f57527;
    position: relative;
    white-space: pre;
    text-align: center;
    color: #000;
}

.ui-rotatable-handle {
    height: 25px;
    width: 25px;
    cursor: pointer;
    background-image: url('Img/rotate.png');
    background-size: 100%;
    right: -30px;
    top: calc(50% - 12px);
    position: absolute;
}