﻿body {
}

.pro-notif-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 11px;
    background-color: #0092b4;
    color: #fff;
    border-radius: 5px;
    padding: 2px 4px;
}
.pro-notif-icon > div {
}
.pro-notif-icon > div:first-of-type {
    font-weight: bold;
    font-size: 2.2em;
    padding-right: 4px;
    position: relative;
    top: 1px;
}