﻿body {
}

#return-funds-form input:not(.multi-row-data), #return-funds-form select:not(.multi-row-data)
{
    width:100%;
    box-sizing:border-box;
}

.iban-input
{
    text-transform:uppercase;
}

.flex-like-row {
    display:flex;
    flex-direction:row;
}
.flex-like-row div {
    flex:1;
}
.flex-like-row div:nth-child(1) {
    flex:0.4;
    white-space:nowrap;
}
.flex-like-row div:nth-child(3) {
    flex:1.1;
}
.flex-like-row div:nth-child(1), .flex-like-row div:nth-child(3) {
    text-align: center;
}

.histo-rf .header {
    background-color:#344b56;
}
.histo-rf .header .flex-like-row div {
    text-align: center;
    color:#fff;
    font-weight:bold;
    padding:5px 0;
}

.histo-rf .multi-item {
    padding:0;
}
.multi-item .flex-like-row div {
    padding:0 5px;
}