﻿.close-details {
    display:none;
}
.account-close-row, .account-close-alt-row {
    padding:5px 0;
    border-bottom:1px solid #808080;
    border-left:1px solid #808080;
    border-right:1px solid #808080;
    cursor:pointer;
}
.account-close-row {
    background-color:#ffffff;
}

.account-close-alt-row {
    background-color:#e5e5e5;
}

.rf-sum, .rf-sum-short, .close-details table {
    width:100%;
    border-collapse:collapse;
    text-transform:initial;
}
.rf-sum th, .rf-sum-short th, .close-details table th {
    text-align:center;
    background-color:#344B56;
    color:#fff;
    padding:10px 0;
}
.rf-sum tr th:nth-of-type(3), .rf-sum tr td:nth-of-type(3) {
    width:9%;
}
.rf-sum tr td:nth-of-type(3) {
    text-align: right;
    padding-right:10px;
    box-sizing:border-box;
}
.rf-sum tr th:nth-of-type(4), .rf-sum tr td:nth-of-type(4) {
    width:20%;
}
.rf-sum tr th:nth-of-type(5), .rf-sum tr td:nth-of-type(5) {
    width:26%;
}
.rf-sum tr th:nth-of-type(6), .rf-sum tr td:nth-of-type(6) {
    width:13%;
}
.rf-sum tr th:nth-of-type(7), .rf-sum tr td:nth-of-type(7) {
    width:19%;
}
.rf-sum tr th:nth-of-type(2), .rf-sum tr td:nth-of-type(2) {
    width:10%;
}
.rf-sum tr th:nth-of-type(1), .rf-sum tr td:nth-of-type(1) {
    width:3%;
    text-align:center;
}


.rf-sum-short tr th:nth-of-type(3), .rf-sum-short tr td:nth-of-type(3) {
    width:10%;
}
.rf-sum-short tr td:nth-of-type(3) {
    text-align: right;
    padding-right:10px;
    box-sizing:border-box;
}
.rf-sum-short tr th:nth-of-type(4), .rf-sum-short tr td:nth-of-type(4) {
    width:22%;
}
.rf-sum-short tr th:nth-of-type(5), .rf-sum-short tr td:nth-of-type(5) {
    width:28%;
}
.rf-sum-short tr th:nth-of-type(6), .rf-sum-short tr td:nth-of-type(6) {
    width:15%;
}
.rf-sum-short tr th:nth-of-type(7), .rf-sum-short tr td:nth-of-type(7) {
    width:22%;
}
.rf-sum-short tr th:nth-of-type(2), .rf-sum-short tr td:nth-of-type(2) {
    width:3%;
    text-align:center;
}
.rf-sum-short tr th:nth-of-type(1), .rf-sum-short tr td:nth-of-type(1) {
    width:0%;
}


.close-action {
    display:flex;
    flex-direction:row;
    width:100%;
    margin-top:15px;
}
.close-action div {
    flex:1;
    flex-grow:1;
    text-align:center;
}
.close-action div .button {
    width:250px;
}
.close-action div:first-of-type .button.red {
    background-color:red;
    border-color:red;
}
.close-action div:last-of-type .button.green {
    background-color:limegreen;
    border-color:limegreen;
}
.close-action div:first-of-type .button:hover, .close-action div:last-of-type .button:hover {
    border-color:black;
}

.account-close-row .close-details table td {
    background-color:#e5e5e5;
}
.account-close-alt-row .close-details table td {
    background-color:#fff;
}
.close-details table {
    border:1px solid #808080;
}
.close-details table th {
    padding:4px 5px;
}
.close-details table td {
    padding:2px 5px;
}
.close-details table td {
    border-top:1px solid #808080;
    border-bottom:1px solid #808080;
}