﻿@font-face {
	font-family: "VAGRoundedLight";
	src: url('fonts/VAG Rounded Light SSi Light.eot');
	src: url('fonts/VAG Rounded Light SSi Light.ttf') format('truetype');
}

@font-face {
	font-family: "VAG Rounded";
	src: url('fonts/VAG Rounded Bold.eot');
	/*src: url('fonts/vagroundedbold.ttf');*/
    src: url('fonts/VAG Rounded Bold.ttf') format('truetype');
}

@font-face {
	font-family: "VAGRounded-Light Italic";
	src: url('fonts/VAGRounded-Light Italic.eot');
	src: url('fonts/VAGRounded-Light Italic.ttf') format('truetype');
}

@font-face {
	font-family: "Aracne Regular";
    src: url('fonts/Aracne.eot');
    src: url('fonts/Aracne.eot?#iefix') format('embedded-opentype'),
         url('fonts/Aracne.woff') format('woff'),
         url('fonts/Aracne.ttf') format('truetype'),
         url('fonts/Aracne.svg#Aracne Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.font-AracneRegular
{
    font-family:"Aracne Regular", Arial;
}
.font-VAG RoundedLight, .font-normal
{
    font-family:"VAG RoundedLight";
}
.font-VAG RoundedBold, .font-bold
{
    font-family:"VAG Rounded";
}
.font-VAG RoundedLightItalic, .font-italic
{
    font-family:"VAG Rounded-Light Italic";
}

.rib {
    float:left; 
    position:relative;
    width:10.5cm;
    height:10.5cm;
    max-height:10.5cm;
    max-width:10.5cm;
    background-color:#fff;
    margin:5px;
    border:2px solid #000;

}

.ribTitle {
    font-family:"Aracne Regular";
    font-size:1.4em;
    color:#f57527;
    /*font-weight:bold;*/
}

.box-title {
    font-family:"Aracne Regular";
    font-size:1.0em;
    border-bottom:2px solid #000;
    text-align:center;
}

.box-content {
    margin-top:5px;
    font-family:"VAG Rounded";
    font-size:0.8em;
    text-align:center;
}

.row-title {
    font-family:"Aracne Regular";
    font-size:0.8em;
    text-align:center;
}

.row-title div {
    height:20px;
    vertical-align:middle;
}

.row-content {
    font-family:"VAG Rounded";
    font-size:0.8em;
    text-align:center;
    /*background-color:#ececec;*/
}

.row-content div {
    height:20px;
    vertical-align:middle;
}

.rib-footer {
    position:absolute;
    bottom:10px;
    width:10.5cm;
    text-align:center; 
    font-size:0.55em;
    font-family:"VAGRoundedLight";
}

