﻿body {
}

.sab-cobalt-comparison-cont {
    display:flex;
    flex-direction:row;
    height:100%;
}
.sab-cobalt-comparison-cont > div {
    flex: 1;
    margin: 0 5px;
    background: url(Img/loading.gif) 50% 50% no-repeat;
    height:100%;
}
.sab-cobalt-comparison-cont>div iframe {
    border: 0;
    width: 100%;
    height:95%;
    overflow:visible;
}

.sab-cobalt-comparison-link {
    font-family:Arial;
    color:inherit!important;
    text-decoration:none!important;
}
.sab-cobalt-comparison-link:hover {
    color: #f57527 !important;
    text-decoration: underline !important;
}