﻿.scoring-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 11px;
    background-color:#a0a0a0;
    color: #fff;
    border-radius: 5px;
    padding: 2px 4px;
    max-width:54px;
    text-align:center;
}
.scoring-icon.client-icon {
    background-color:#0074C8;
}
.scoring-icon.alert-icon {
    background-color:#ff4444;
}
.scoring-icon.global-icon {
    background: -webkit-linear-gradient(left top, #0074C8, #ff4444); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #0074C8, #ff4444); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #0074C8, #ff4444); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #0074C8, #ff4444); /* Standard syntax */
}
.scoring-icon > div {
}
.scoring-icon > div:first-of-type {
    text-transform: uppercase;
    font-size: 0.9em;
}
.scoring-icon > div:last-of-type {
    font-weight:bold;
    font-size: 1.5em;
    line-height: 20px;
    position: relative;
    top: 1px;
}

.scoring-container {
    position:relative;
}
.scoring-container:hover .scoring-details {
    display:block;
}
.scoring-details {
    display:none;
    position:absolute;
    width:300px;
    left:-130px;
    top:50px;
    z-index:200;
    border-radius:5px;
    background-color:#fff;
    /*padding:0 0 1px 0;*/
    box-shadow: 1px 1px 5px #999;
    background-color: #344b56;
}
.scoring-details.active {
    display:block;
}
.scoring-details-inner {
    max-height: 250px;
    overflow-y: scroll;
    margin-top:2px;
    padding:0 5px;
    background-color: #fff;
}
.scoring-details .scoring-details-item {
    padding:2px 0;
    border-bottom:1px dotted #a0a0a0;
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    align-items: center;
    justify-content: center;
}
.scoring-details .scoring-details-item > div {
    flex-grow:1;
}
.scoring-details .scoring-details-item:last-of-type {
    border-bottom:0;
}
.scoring-details .scoring-details-item > div:first-of-type {
    flex:0;
}
.scoring-details .scoring-details-item > div:nth-of-type(2) {
    flex:8;
}
.scoring-details .scoring-details-item > div:last-of-type {
    flex:2;
    text-align:right;
}
/*.scoring-details .scoring-details-item:after {
    content:'';
    display:block;
    clear:both;
}*/
.scoring-details-header {
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    padding:3px 5px;
    background-color:#344B56;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    color:#fff;
    /*font-weight:bold;
    text-transform:uppercase;*/
}
.scoring-details-header a {
    text-decoration:none;
}
.scoring-details-header > div:first-of-type {
    flex:8;
}
.scoring-details-header > div:last-of-type {
    flex:2;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #344B56;
    position: absolute;
    top: -8px;
    left: 50%;
}
.arrow-bg {
    position: absolute;
    top: -8px;
    left: 0;
    background-color: transparent;
    height: 8px;
    width: 100%;
}

.scoring-details-loading {
    display:none;
    position:absolute;
    left:0;
    top:0;
    z-index:1000;
    background-color:rgba(255, 255, 255, 0.8);
    background-image: url('Img/loading.gif');
    background-position:center;
    background-repeat:no-repeat;
}

/*MULTI CATEGORY*/
.scoring-details-category
{
    display:flex;
    align-items:stretch;
    border: 1px solid #344b56;
}
.scoring-details-category>div {
    flex-grow:1;
    text-align:center;
    padding:10px 0;
    color:#fff;
    background-color:#7db4ce;
}
.scoring-details-category > div div:last-of-type {
    font-size:1.2em;
    font-weight:bold;
}
.scoring-details-category>div.active {
    background-color:#344B56;
}
.scoring-details-inner>div {
    display:none;
}
.scoring-details-inner>div.active {
    display:block;
}
.scoring-details-item img {
    width:20px;
    margin-right:10px;
    position:relative;
    top:2px;
}