﻿@font-face {
	font-family: din;
	src: url('DINMedium.eot');
	src: url('DINMedium.ttf');
}

@font-face {
	font-family: dinBold;
	src: url('DINBold.eot');
	src: url('DINBold.ttf');
}

/* DEFAULTS
----------------------------------------------------------*/

body
{
    background: #b6b7bc;
    font-size: 0.9em;
    font-family: Arial, Verdana;
    margin: 0px;
    padding: 0px;
    color: #344b56;
}

a:link, a:visited, a.orangeLink, a.orangeLink:visited
{
    color: #f57527;
    text-decoration:underline;
}

a:hover, a.orangeLink:hover
{
    color: #f57527;
    text-decoration: none;
}

a:active, a.orangeLink:active
{
    color: #f57527;
    outline:none;
}
a:focus, a.orangeLink:focus
{
    outline:none;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}

input[type=text][disabled], select[disabled]
{
    background-color:#eee;
    border:1px solid #ccc;
}
input[type=text][readonly] {
    background-color:white;
    height:20px;
    font-size:16px;
    border:1px solid #a9a9a9;
}

input[type=button][disabled], input[type=submit][disabled]
{
    background-color:#CCC;
    color:#888;
    border-color:#777;
}

/* HEADINGS
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #f57527;
    /*font-variant: small-caps;*/
    text-transform: none;
    font-weight: bold;
    margin-bottom: 0px;
    font-family:Arial, Verdana;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS
----------------------------------------------------------*/
.page
{
    width:1000px;
    /*width: 960px;*/
    background-color: #fff;
    margin: 20px auto 0px auto;
    border: 2px solid #f57527;
    border-bottom-left-radius:16px;
    border-bottom-right-radius:16px;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #fff;
    width: 100%;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #344b56;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.main
{
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
    min-height: 420px;
    font-family: Arial, Verdana;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #344b56;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}

.menu-link {
    display: block;
    padding: 0 10px;
    height: 28px;
    line-height: 28px;
    background-color: #f57527;
    color: #fff !important;
    text-decoration: none !important;
}

/* DROPDOWNMENU */
.dropdown-menu {
    position:relative;
    white-space:nowrap;
    margin-right:10px;
}
.dropdown-menu .dropdown-menu-header {
    background: url('Img/row-detail-arrow-down-white.png') no-repeat 95% 50% #5c8699;
    color:#fff;
    height:28px;
    line-height:28px;
    padding:0 30px 0 10px;
    border-bottom:5px solid transparent;
    background-clip: padding-box;
}
.dropdown-menu .dropdown-menu-content {
    position:absolute;
    display:none;
    background-color:#eee;
    padding:5px 0;
    z-index:200;
    box-shadow: 1px 1px 3px 0px #999;
    min-width:100%;
    box-sizing: border-box;
}
.dropdown-menu .dropdown-menu-content>div {
    margin:5px 0;
}
.dropdown-menu:hover .dropdown-menu-content {
    display:block;
}
#dd-pending-transfer .dropdown-menu-content > div {
    margin:0;
}
.dropdown-menu-content a {
    display:block;
    width: 100%;
    padding: 5px 10px;
    box-sizing:border-box;
    text-decoration: none;
    color:#344b56;
    font-size:1em;
}
.dropdown-menu-content a:hover {
    background-color:#f57527;
    color:#fff;
}
#dd-alert-counter .dropdown-menu-content {
    width:auto;
    min-width:100%;
    padding:5px 0;
}
.dd-alert {
    position:relative;
    display:flex;
    align-items: center;
    justify-content: center;
    padding:0 10px;
    width: 100%;
    box-sizing: border-box;
}
.dd-alert:hover {
    cursor:pointer;
}
.dd-alert.other:hover {
    background-color:#f57527;
    color:#fff;
}
.dd-alert .dd-alert-user {
    align-self:center;
}
.dd-alert.users {
    padding:0;
}
.dd-alert.showothers {
    font-size:0.8em;
    text-align:center;
    margin-top:10px !important;
    user-select:none;
    display: block;
}
.dd-alert.showothers:hover {
    color:#f57527;
}
.dd-alert.others {
    flex-direction:column;
    padding:0;
    margin-bottom: 0 !important;
    display:none;
    max-height:300px;
    overflow-y:scroll;
    padding:10px 10px 0 0;
}
.dd-alert.other {
    flex-direction:row;
    padding:5px 10px;
}
.dd-alert .dd-alert-count {
    font-weight:bold;
    text-align: right;
    width: 100%;
    padding-left: 10px;
    font-size:1.2em;
}
.dd-counters {
    position:absolute;
    right:-9px;
    top:-16px
}
.dd-alert .dd-alert-notif
{
    position:absolute;
    right:-9px;
    top:-6px
}
.dd-alert .dd-alert-notif,
.dd-alert-notif-total,
.dd-stmt-action-total,
.dd-stmt-late-total
{
    display:inline-block;
    border:2px solid #fff;
    font-size:10px;
    background-color:#f00;
    color:#fff;
    border-radius:20px;
    width:15px;
    height:15px;
    line-height:15px;
    text-align:center;
    /*padding-left:1px;*/
}
.dd-stmt-action-total {
    background-color:#00f;
}
.dd-stmt-late-total {
    background-color:#ff0;
    color:#000;
    border:2px solid #000;
    animation:blinker;
    animation-duration:3s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}
@keyframes blinker {  
  0%   { opacity:0; }
  20%   { opacity:1; }
  80%   { opacity:1; }
  100% { opacity:0; }
}

.header-button {
    display:block;
    background-color:#5c8699;
    color:#fff;
    height:28px;
    line-height:28px;
    padding:0 10px 0 10px;
    border-bottom:5px solid transparent;
    background-clip: padding-box;
    position:relative;
    white-space:nowrap;
    margin-right:10px;
}
/*  */

/* TAB MENU
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color:#344b56;
    width:100%;
    padding-top:1px;
}

div.menu
{
    padding: 4px 0px 4px 8px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited, .menu input[type=submit]
{
    background-color: #f57527;
    border: 0;
    color: #fff;
    display: block;
    line-height: 28px;
    padding: 0 20px;
    text-decoration: none;
    white-space: nowrap;
    cursor:pointer;
    font-size:14px;
}

div.menu ul li a:hover, .menu input[type=submit]:hover
{
    background-color: #fb7844;
    /*color: #344b56;*/
    color: #fff;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #f57527;
    color: #344b56;
    text-decoration: none;
}

/* FORM ELEMENTS
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline
{
    display: inline;
}

legend
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

/* MISC
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: 100%;
    padding:5px 0;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.italic
{
    font-style: italic;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}

.button{
    height:30px;
    margin:0 3px 10px 0;
    font-size:14px;
    font-weight:bold;
    font-family:Arial, Verdana;
    padding:4px 10px 5px 10px;
    display:inline-block;
    background-color:#f57527;
    text-align:center;
    color:#fff;
    border-color: #f57527;
    text-transform:uppercase;
    text-decoration:none;
    -moz-border-radius:8px;
    border-radius:8px;
}

.button:hover{
    border-color: #000000;
    cursor:pointer;
}

.button:active{
    border-color: #FFFFFF;
}

.buttonHigher{
    height:40px;
    margin:0 3px 10px 0;
    font-size:18px;
    font-weight:bold;
    font-family:Arial, Verdana;
    padding:5px 10px 5px 10px;
    display:inline-block;
    background-color:#f57527;
    text-align:center;
    color:#fff;
    border-color: #f57527;
    text-transform:uppercase;
    text-decoration:none;
    -moz-border-radius:8px;
    border-radius:8px;
}

.buttonHigher:hover{
    border-color: #000000;
    cursor:pointer;
}

.buttonHigher:active{
    border-color: #FFFFFF;
}

.Linkbutton:active,.Linkbutton:link,.Linkbutton:visited
{
    text-align:center;
    color:#fff;
    font-size: 0.8em;
    font-weight:bold;
    font-family:Arial, Verdana;
    text-transform:uppercase;
    text-decoration:none;
    padding:5px 8px;
    border:2px outset #f57527;
    background-color:#f57527;
    -moz-border-radius:8px;
    border-radius:8px;
}

.Linkbutton:hover
{
    cursor:pointer;
    text-decoration:none;
    border:1px inset #f57527;
    color:#fff;
}

/*AutoComplete flyout */

.autocomplete_completionListElement
{
	margin : 0px!important;
	background-color : white;
	color : windowtext;
	border : buttonshadow;
	border-width : 1px;
	border-style : solid;
	cursor : 'default';
	overflow : auto;
	height : 200px;
    text-align : left;
    list-style-type : none;
    list-style-position:inherit;
    padding:0;
}

/* AutoComplete highlighted item */

.autocomplete_highlightedListItem
{
	background-color: #f57527;
	color: white;
	padding: 1px;
}

/* AutoComplete item */

.autocomplete_listItem
{
	background-color : window;
	color : windowtext;
	padding : 1px;
}

.classMenu
{
    padding:5px;
    border:0;
    background-color:#fff;
    border:1px solid #f57527;
    color:#f57527;
    width:400px;
    margin:0;
    text-decoration:none;
    font-size:20px;
}

.classMenu:hover
{
    height:50px;
    background-color:#f57527;
    color:#fff;
    border:1px solid #f57527;
    margin:0;
    width:400px;
    cursor:pointer;
}

.GridViewRowStyle
{
    border-top:1px solid #CCC;
}

.RegistrationClass input[type=text], .RegistrationClass textarea, .RegistrationClass span
{
    height:20px;
    width:250px;
    font-family:Arial, Verdana;
    font-size:16px;
    text-transform:uppercase;
}

.ClientDetails input[type=text], .ClientDetails textarea
{
    height:20px;
    width:250px;
    font-size:16px;
    /*text-transform:uppercase;*/
}

.label
{
    margin-top:5px;
    font-family:Arial;
    color:#f57527;
    font-size:16px;
    font-weight:bolder;
}

.AccordionTitle
{
    margin: 0;
    background-color: #f57527;
    color: White;
    border-radius: 4px;
    border:2px solid white;
    padding: 5px 0 5px 10px
}

.AccordionTitle:hover
{
    background-color:#fb7844;
    cursor:pointer;
}

.zoom
{
    background-image:url(Img/plus.png);
    background-repeat:no-repeat;
}

.back
{
    background-image:url(Img/moins.png);
    background-repeat:no-repeat;
}

.up
{
    background-image:url(Img/up.png);
    background-repeat:no-repeat;
}

.left-arrow
{
    background-image:url(Img/left.png);
    background-repeat:no-repeat;
}

.right
{
    background-image:url(Img/right.png);
    background-repeat:no-repeat;
}

.down
{
    background-image:url(Img/down.png);
    background-repeat:no-repeat;
}

.ImageButton
{
    margin:auto;
    border:0;
    height:20px;
    width:20px;
    border:1px solid #FFF;
}

.ImageButton:hover
{
    cursor:pointer;
    border:1px solid #f57527;
}

/* Grid */
.grid
{
    border: 1px solid #0074C8;
    padding: 0px;
    border-collapse: separate;
    background: White;
    width:100%;
    margin:auto;
    z-index:1;
}
.grid tr
{
    border: none;
    border-left:1px solid #0074C8;
    border-right:1px solid #0074C8;
    padding: 0px;
    margin: 0px;
}
.grid td
{
    font-family:Tahoma;
    color:Black;
    border-width:0px;
    border:1px solid #0074C8;
    /*white-space: nowrap;*/
    padding: 5px;
    vertical-align: middle;
    margin: 0px;
}
.grid th
{
    font-family:Tahoma;
    background-color: #0074C8;
    text-align: center;
    white-space:normal;
    font-weight:bold;
    border-top: 1px solid #0074C8;
    border-bottom: 1px solid #0074C8;
    border-left: 1px solid #0074C8;
    border-right: 1px solid #0074C8;
    padding: 4px 5px 2px 5px;
    color: #FFF;
    /*background-image: url(../Img/thbg.gif);*/
    background-position:top left;
    background-repeat:repeat-x;
    vertical-align: middle;
    margin: 0px;
}

.grid td a
{
    border: none;
    margin: 0px;
    color:#0000DD;
    text-decoration: none;
    font-weight:bold;
}
.grid img
{
    border: none;
    padding: 0px;
    margin: 0px;
}
.grid td a:hover
{
    color:#A0A0FF;
    text-decoration: none;
}
.grid th a
{
    color:Black;
    text-decoration: none;
    display: block;
    padding: 1px 3px 1px 3px;
}
.grid th a:hover
{
    color: #0000A0;
}

/* STORE LOCATOR */
#store-locator .grid
{
    border-collapse:collapse;
    width:100%;
    margin:auto;
    border:0;
}
#store-locator .grid td
{
    white-space:normal;
    padding:5px 10px;
    border:0;
    vertical-align:top;
    color:#000;
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
}
#store-locator .grid th
{
    background-color:#f5752a;
    color:#fff;
    border:1px solid #fff;
    padding:2px 5px;
}
#store-locator .grid th a
{
    color:#fff;
    text-decoration:none;
}

#store-locator input[type=button], #store-locator input[type=submit]
{
    padding:4px 20px 0 20px;
    font-family:"VAG Rounded";
    text-transform:uppercase;
    /*font-size:20px;*/
    border-radius:4px;
    box-shadow: 0 0 5px #a9a9a9;

    background-color:#fff;
    color:#000;
    border:1px solid #bababa;
}
#store-locator input[type=button]:active, #store-locator input[type=submit]:active
{
    box-shadow:none;

    /*outline for rounded buttons*/
    box-shadow: 0px 0px 0px 4px #ee7029;
}
#store-locator input[type=button]:focus, #store-locator input[type=submit]:focus
{
    outline:none;
}
/* FIN STORE LOCATOR  */

.MiniButton
{
    border:1px outset #0074C8;
    background-color: #0074C8;
    border-radius:10px;
    height:18px;
    font-size:12px !important;
    color:#FFF;
    font-weight:bold;
    font-family:Arial !important;
    text-align:center;
    white-space:nowrap;
    outline:none;
}
a.MiniButton {
    color:#fff;
    text-decoration:none;
    line-height: 18px;
}

.MiniButton:hover
{
    cursor:pointer;
}

.MiniButton[disabled=disabled], button:disabled
{
    background-color:#aaa;
    border:1px outset #aaa;
}

.PinBySmsAttemptDetails
{
    padding:0 5px;
    background-color:#f57527;
    border:1px solid #f57527;
    border-top-left-radius:8px;
    border-top-right-radius:8px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    color:#fff;
}

.trimmer
{
    padding:5px 0 0 0;
    overflow: hidden;
    width:50px;
    display:block;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;	/* required for Opera */
    -ms-text-overflow: ellipsis;	/* required for IE8, allegedly */
    /*-moz-binding: url('ellipsis.xml#ellipsis');*/    /* for Firefox; details here */
}

.reqStarStyle
{
    font-size:1.5em;
    color:Red;
    font-weight:bold;
    font-family:Arial;
    /*position:relative;
    top:8px;*/
}

input[readonly], textarea[readonly] {
    color: #000;
    border:1px inset #000;
    background-color: #DEDEDE;
    display:block;
    padding:4px 2px;
    height:20px;
    width:250px;
    font-family:Arial;
    font-size:16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;	/* required for Opera */
    -ms-text-overflow: ellipsis;	/* required for IE8, allegedly */
    /*-moz-binding: url('ellipsis.xml#ellipsis');*/    /* for Firefox; details here */
}

.ClientModification, .ClientModification[readonly] {
    color: #000;
    border:2px solid #FFD902;
    background-color: #FFF282;
    display:block;
    padding:4px 2px;
    height:20px;
    width:250px;
    font-family:Arial;
    font-size:16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;	/* required for Opera */
    -ms-text-overflow: ellipsis;	/* required for IE8, allegedly */
    /*-moz-binding: url('ellipsis.xml#ellipsis');*/    /* for Firefox; details here */
}

.ClientSheetModification, .ClientSheetModification[readonly] {
    color: #000;
    border: 2px solid #888;
    background-color: #DEDEDE;
    display: block;
    padding: 4px 2px;
    height: 20px;
    width: 250px;
    font-family: Arial;
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis; /* required for Opera */
    -ms-text-overflow: ellipsis; /* required for IE8, allegedly */
    /*-moz-binding: url('ellipsis.xml#ellipsis');*/ /* for Firefox; details here */
}

.OcrChecked, .OcrChecked[readonly] {
    color: #000;
    border:2px solid Green;
    background-color: #A8FFB5;
    display:block;
    padding:4px 2px;
    height:20px;
    width:250px;
    font-family:Arial;
    font-size:16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;	/* required for Opera */
    -ms-text-overflow: ellipsis;	/* required for IE8, allegedly */
    /*-moz-binding: url('ellipsis.xml#ellipsis');*/    /* for Firefox; details here */
}

.OcrNotChecked, .OcrNotChecked[readonly] {
    background-color:#DEDEDE;
    border:1px inset #000;
    color:#000;
    display:block;
    padding:4px 2px;
    height:20px;
    width:250px;
    font-family:Arial;
    font-size:16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;	/* required for Opera */
    -ms-text-overflow: ellipsis;	/* required for IE8, allegedly */
    /*-moz-binding: url('ellipsis.xml#ellipsis');*/    /* for Firefox; details here */
}

.BoModify {
    color: #000;
    border:1px inset #000;
    background-color: #FFF;
    display:block;
    padding:4px 2px;
    height:20px;
    width:250px;
    font-family:Arial;
    font-size:16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;	/* required for Opera */
    -ms-text-overflow: ellipsis;	/* required for IE8, allegedly */
    /*-moz-binding: url('ellipsis.xml#ellipsis');*/    /* for Firefox; details here */
}

.table {
display:table;
}
.row, .table-row {
display:table-row;
}
.cell, .table-cell {
display:table-cell;
}

.ui-tooltip, .arrow:after {
background: #fff;
border: 2px solid #aaa;
}
.ui-tooltip {
padding: 5px 10px;
color: #344b56;
border-radius: 4px;
font:14px "Helvetica Neue", Sans-Serif;
box-shadow: 0 0 7px black;
}
.arrow {
width: 70px;
height: 16px;
overflow: hidden;
position: absolute;
left: 50%;
margin-left: -35px;
bottom: -16px;
}
.arrow.top {
top: -16px;
bottom: auto;
}
.arrow.left {
left: 20%;
}
.arrow:after {
content: "";
position: absolute;
left: 20px;
top: -20px;
width: 25px;
height: 25px;
box-shadow: 6px 5px 9px -9px #aaa;
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-ms-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
}
.arrow.top:after {
bottom: -20px;
top: auto;
}

.linkNoStyle{
    font-family:Arial;
    text-decoration:none;
    color:blue;
}
.linkNoStyle:active {
    text-decoration:none;
}

.linkNoStyle:hover{
    text-decoration:underline;
    cursor:pointer;
}

/*** CHANGE PASSWORD ***/
.PasswordInfo {
	position:absolute;
	top:-90px;
	/*bottom: -160px9;*/ /* IE Specific */
	left:60px;
	width:290px;
	padding:15px;
	background:#fefefe;
	font-size:.875em;
	border-radius:5px;
	box-shadow:0 1px 3px #888;
	border:2px solid #ddd;
	z-index:99;
}

.PasswordInfo h4 {
	margin:0 0 10px 0;
	padding:0;
	font-weight:bold;
	font-family:Arial;
}

.PasswordInfo::before {
	content: "\25B2";
	position:absolute;
	top:-14px;
	left:45%;
	font-size:14px;
	line-height:14px;
	color:#AAA;
	text-shadow:none;
	display:block;
}

.PasswordConfirmInfo {
	position:absolute;
	bottom:-65px;
	bottom: -115px9; /* IE Specific */
	left:85px;
	width:250px;
	padding:15px;
	background:#fefefe;
	font-size:.875em;
	border-radius:5px;
	box-shadow:0 1px 3px #888;
	border:2px solid #F00;
	z-index:99;
}

.PasswordConfirmInfo h4 {
	margin:0 0 10px 0;
	padding:0;
	font-weight:bold;
	font-family:Arial;
}

.PasswordConfirmInfo::before {
	content: "\25B2";
	position:absolute;
	top:-14px;
	left:45%;
	font-size:14px;
	line-height:14px;
	color:#F00;
	text-shadow:none;
	display:block;
}

.invalid {
	background:url(../Img/cross.png) no-repeat 0 50%;
	padding-left:22px;
	line-height:24px;
	color:#ec3f41;
}
.valid {
	background:url(../Img/tick.png) no-repeat 0 50%;
	padding-left:22px;
	line-height:24px;
	color:#3a7d34;
}

.AgencyPassword
{
    background:#edf1f4 url(bg.jpg);
	font-size:16px;
}

.AgencyPasswordClass ul li
{
    margin:0;
	padding:0;
	list-style-type:none;
}

#AgencyPassword {
	padding:0px;
	/*background:#fefefe;*/
	margin:0 auto;
	/*border:1px solid #c4cddb;
	border-top-color:#d3dbde;
	border-bottom-color:#bfc9dc;
	box-shadow:0 1px 1px #ccc;
	border-radius:5px;*/
	position:relative;
}

.PasswordBox ul li {
    margin:10px auto;
}

.AgencyPasswordClass input {
	padding:10px 10px;
	/*border:1px solid #d5d9da;
	border-radius:5px;
	box-shadow: 0 0 5px #e8e9eb inset;*/
	width:328px; /* 400 (#container) - 40 (li margins) -  10 (span paddings) - 20 (input paddings) - 2 (input borders) */
	font-size:1em;
	outline:0; /* remove webkit focus styles */
	margin:auto;
}

.AgencyPasswordClass input:focus {
	border:1px solid #b9d4e9;
	border-top-color:#b6d5ea;
	border-bottom-color:#b8d4ea;
	box-shadow:0 0 5px #b9d4e9;
}

.AgencyPasswordClass label {
	color:#555;
}

#AgencyPassword span {
	padding:3px 5px;
	display:block;
	border-radius:5px;
	margin-top:5px;
}

/*** END CHANGE PASSWORD ***/
.font-orange {
    color:#f57527;
}
.font-bleuMarine {
    color:#344b56;
}

.ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;   /* prevent horizontal scrollbar */
    overflow-x: hidden; /* add padding to account for vertical scrollbar */
    /*z-index:1000 !important;*/
}

.excel-button {
    background-image: url('./Img/excel_ico.png');
    background-repeat: no-repeat;
    background-position: center right;
    padding-right: 30px;
}

/*** RIB ***/
.rib {
    width:100%;
    background-color:#fff;
    margin:5px;
    border:2px solid #000;

}

.ribTitle {
    font-family:"Aracne Regular", Arial;
    font-size:2em;
    color:#f57527;
    /*font-weight:bold;*/
}

.rib-box-title {
    font-family:"Aracne Regular", Arial;
    font-size:1.2em;
    border-bottom:2px solid #000;
    text-align:center;
}

.rib-box-content {
    margin-top:5px;
    font-family:"VAG Rounded";
    font-size:1em;
    text-align:center;
    letter-spacing:1px;
}

.rib-row-title {
    font-family:"Aracne Regular", Arial;
    font-size:1.2em;
    text-align:center;
    letter-spacing:1px;
}

.rib-row-title div {
    height:20px;
    vertical-align:middle;
}

.rib-row-content {
    font-family:"VAG Rounded";
    font-size:1em;
    text-align:center;
    letter-spacing:1px;
    /*background-color:#ececec;*/
}

.rib-row-content div {
    height:20px;
    vertical-align:middle;
}

.rib-footer {
    margin:10px;
    text-align:center;
    font-size:0.8em;
    font-family:"VAGRoundedLight";
}
/*** FIN RIB ***/


/*** MESSAGES ***/

.add-message {
}
.add-message i {
    font-size:0.8em;
}
.add-message input[type=text], .add-message textarea {
    width:100%;
    font-size:1em;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}
.add-message textarea {
    resize:vertical;
    font-family:Arial;
}
.add-message input[type=checkbox] {
    position:relative;
    top:1px;
}
.message img {
    max-width:100%;
}

.tableHistory th {
    background-color:#344b56;
    color:#fff;
    text-align:center;
    font-weight:bold;
    height:25px;
}

.tableHistory td {
    border-bottom:1px solid #ccc;
    padding:5px;
    vertical-align:top;
    height:28px;
}
/*** FIN MESSAGES ***/

.defaultTable th {
    background-color:#344b56;
    color:#fff;
    text-align:center;
    font-weight:bold;
    height:30px;
    text-transform:uppercase;
}

.defaultTable td {
    border-bottom:1px solid #ccc;
    padding:5px;
    height:15px;
    vertical-align:top;
}

#activity-table tr td:nth-of-type(2) {
    text-align:center;
}
#activity-table tr td:last-of-type {
    text-align:right;
}

.searchHighlighted {
    font-weight:bold;
    font-size:larger;
}

.searchResultBox {
    background-color:#fff;
    padding:10px 5px;
    box-shadow:0px 1px 2px #888;
}

.searchResultBox:hover {
    cursor: pointer;
    box-shadow:0px 1px 2px #f57527;
}

#map-canvas {
    box-shadow:0 0 5px #a9a9a9;
    -moz-box-shadow:0 0 5px #a9a9a9;
}

.tableAmlSearch div {
    /*border-left:1px solid #a9a9a9;*/
}
.tableAmlSearch div:first-of-type {
    border:0;
}

.tableOrange {
    width:100%;
    border-spacing: 0;
    border-collapse: collapse;
}
.tableOrange th{
    color:#fff;
    background-color:#f57527;
    font-weight:bold;
}

.tableOrange td{
    color:#000;
}
.tableOrange tr:hover{
    color:#fff;
    background-color:#f57527;
    cursor:pointer;
}

.redMail:hover {
    cursor:pointer;
}

.alternate-row {
    background-color: #ebecec;
}

.ImageClickable:hover{
    cursor:pointer;
}

.image-icon, .link-icon, .tab-icon, .align-left-icon, .align-center-icon, .align-right-icon {
    background-repeat:no-repeat;
    background-position:center right;
    padding-right:20px;
}
.image-icon {
    background-image:url('Img/img_icon.gif');
}
.link-icon {
    background-image:url('Img/link_icon.png');
}
.tab-icon {
    background-image:url('Img/tab-icon.png');
    background-size:auto 20px;
    padding-right:30px;
}
.align-left-icon {
    background-image:url('Img/align-left-icon.png');
    background-size:auto 16px;
    padding-right:28px;
}
.align-center-icon {
    background-image:url('Img/align-center-icon.png');
    background-size:auto 16px;
    padding-right:28px;
}
.align-right-icon {
    background-image:url('Img/align-right-icon.png');
    background-size:auto 16px;
    padding-right:28px;
}

.big-size {
    overflow:hidden;
    font-size:20px;
    line-height:20px;
    padding-bottom:0;
    padding-top:0;
    position:relative;
    top:3px;
}
.small-size {
    font-size:10px;
    position:relative;
    top:-1px;
}
.format input[type=button] {
    background-color:#eee;
    border:1px outset #999;
    border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    height:22px;
    width:80px;
}
.format input[type=button].big-size, .format input[type=button].small-size {
    width: 38px;
}

/*** BENEFICIARY TABLE ***/
.beneficiary-table {
    font-family:"VAGRoundedLight", Arial;
    text-transform:uppercase;
}

.beneficiary-table thead, .beneficiary-table .table-row.head {
    background-color: #f57527;
    color: #fff;
}

.beneficiary-table thead tr th, .beneficiary-table .table-row.head .table-cell {
    background-color:#f57527;
    border:1px solid #f57527;
    padding-top:2px;
    height:25px;
    color:#fff;
    text-align:center;
    font-size:0.8em;
}
.beneficiary-table-row
{

}
.beneficiary-table tbody tr
{
    /*cursor:pointer;*/
}
.beneficiary-table td {
    font-size:0.8em;
}
.beneficiary-table-row td{
    height:30px;
    border:1px solid #fff;
    padding:5px 10px;
    margin:2px 0;
    background-color:#fff;
    vertical-align:middle;
}

.beneficiary-table-alternate-row, .beneficiary-table-row {
    /*border-radius:8px;*/
    background-color:transparent;
}
.beneficiary-table-alternate-row td:first-of-type, .beneficiary-table-row td:first-of-type
{
    /*border-bottom-left-radius:8px;
    border-top-left-radius:8px;*/
}
.beneficiary-table-alternate-row td:last-of-type, .beneficiary-table-row td:last-of-type
{
    /*border-bottom-right-radius:8px;
    border-top-right-radius:8px;*/
}

.beneficiary-table-alternate-row
{

}
.beneficiary-table-alternate-row td{
    height:30px;
    border:1px solid #e5e5e5;
    padding:5px 10px;
    background-color:#e5e5e5;
    vertical-align:middle;
}

.default-table-row-style td, .default-table-row-style .table-cell {
    background-color:transparent;
}
.table-alternate-row-style td, .table-alternate-row-style .table-cell {
    background-color:#e5e5e5;
}
/*** FIN BENEFICIARY TABLE ***/

.aml-table-row td {
    background-color:#fff;
}
.aml-table-alternate-row td {
    background-color:#e5e5e5;
}

.cards-actions-loading, .alert-details-loading, .panel-loading {
    display:none;
    position:absolute;
    left:0;
    top:0;
    z-index:1003;
    background-color:rgba(255, 255, 255, 0.8);
    background-image: url('Img/loading.gif');
    background-position:center;
    background-repeat:no-repeat;
}

.defaultTable2 {
    width:100%;
    border-collapse:collapse;
}
.defaultTable2 th, .defaultTable2 .head .table-cell {
    background-color:#344b56;
    color:#fff;
    text-align:center;
    font-weight:bold;
    height:30px;
    text-transform:uppercase;
}

.defaultTable2 td, .defaultTable2 .table-cell {
    border-bottom:1px solid #ccc;
    padding:2px 5px;
    height:20px;
    vertical-align:top;
    text-transform:initial;
}

.defaultTable2 td.tdDetails, .defaultTable2 .table-cell.tdDetails{
    height:inherit;
}
.defaultTable2 tr.row-odd {
    background-color:#e5e5e5;
}
.defaultTable2 .row-over-color:hover {
    cursor:pointer;
    background-color:#ff9966;
}

.tabSubtitle {
    color:#344b56;
    font-weight:bold;
    text-transform:uppercase;
    border-bottom:1px solid #344b56;
}

.tabSubtitle.font-orange {
    color:#f57527;
    border-bottom-color: #f57527;
}

.ClientSpecificityDeleted {
    color:#888;
    text-decoration:line-through;
}

.ClientUnblocked {
    color:#888;
    text-decoration:line-through;
}

.headband {
    z-index:99996;
    position: fixed;
    top:0;
    left:0;
    margin:0;
    padding: 0px;
    background: #fff;
    width: 100%;
    min-height:80px;
    box-shadow: 6px 0px 4px black;
    width: 100%;
    text-align:center;
    font-size: 32px;
    font-weight:bold;
}

.headband div {
    margin:10px auto;
}

.headband.dri {
    box-shadow: 0 5px #CF9500;
    color:#CF9500;
}
.headband.dri-ko {
    box-shadow: 0 5px #CC2100;
    color:#CC2100;
}
.headband.dri-ok {
    box-shadow: 0 5px #1A7400;
    color:#1A7400;
}

body.dri{
    background: rgba(207, 149, 0, 0.4);
}
body.dri-ko{
    background: rgba(204, 33, 0, 0.4);
}
body.dri-ok{
    background: rgba(26, 116, 0, 0.4);
}

.notVisible {
    display:none;
}
.RedLabel{
    color:red;
}

.noBorderDetails tr:hover{
    cursor:default;
}

.noBorderDetails td, .noBorderDetails .table-cell {
    border:0;
}

.defaultTable3 {
    width:100%;
    border-collapse:collapse;
}
.defaultTable3 th, .defaultTable3 .head .table-cell {
    text-align:center;
    font-weight:bold;
    height:30px;
    text-transform:none;
    border:0;
    border-top:1px solid #344b56;
    border-bottom:1px solid #344b56;
}

.defaultTable3 td, .defaultTable3 .table-cell {
    /*border-bottom:1px solid #ccc;*/
    padding:2px 5px;
    height:15px;
    vertical-align:top;
    text-transform:initial;
}

.defaultTable3 td.tdDetails, .defaultTable3 .table-cell.tdDetails{
    height:inherit;
}

table.csscheckbox tr td input[type=checkbox] {
	position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}

table.csscheckbox tr td input[type=checkbox] + label {
	padding-left:35px;
	height:30px;
	display:inline-block;
	line-height:30px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:20px;
	vertical-align:middle;
	cursor:pointer;

}

table.csscheckbox tr td input[type=checkbox]:checked + label {
	background-position: 0 -30px;
}
table.csscheckbox tr td label {
    background-image:url("Img/csscheckbox.png");
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input[type=checkbox].csscheckbox {
	/*position:absolute; z-index:-1000; left:-1000px;*/
    display:none;
    overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}

input[type=checkbox].csscheckbox + label.csscheckbox-label {
	padding-left:35px;
	height:30px;
	display:inline-block;
	line-height:30px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:20px;
	vertical-align:middle;
	cursor:pointer;

}

input[type=checkbox].csscheckbox:checked + label.csscheckbox-label {
	background-position: 0 -30px;
}
label.csscheckbox-label {
    background-image:url("Img/csscheckbox.png");
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.AlertProgress-Row {
    background-color:#e5e5e5;
}

.AlertProgress-AlternateRow {
    background-color:#ffffff;
}

.orange_subtitle {
    font-size:1.2em;
    color:#f57527;
    font-weight:bold;
    text-transform:uppercase;
    border-bottom:1px solid #f57527;
    margin-bottom:10px;
}

.alert-details .label {
    margin-top:0;
}
.alert-details .alert-infos {
    display:inline-block;
    vertical-align: top;
    margin-left:20px;
}
.alert-details .alert-infos:first-of-type {
    margin-left:0;
}

.alert-details table {
    border-collapse:collapse;
    white-space:nowrap;
}
.alert-details th {
    background-color:#344b56;
    color:#fff;
    white-space:nowrap;
    height:20px;
    line-height:30px;
}
.alert-details th, .alert-details td {
    padding:2px 10px;
}
.alert-details td {
    border-bottom:1px solid #ccc;
}
.alert-details td:hover {
    cursor:pointer;
}