﻿.staff-table {
    font-family:"VAGRoundedLight";
    border-collapse:collapse;
}

.staff-table thead {
    /*background-color: #f57527;*/
    color: #fff;
}

.staff-table thead tr th{
    /*background-color:#f57527;*/
    padding:0;
    /*height:50px;*/
    color:#fff;
    text-align:center;
}
.staff-table thead tr th div {
    /*border-right:1px solid #d7d7d7;
    border-left:1px solid #c2c3c3;*/
    padding:12px 6px;
    height:15px;
    background-color:#f57527;
    margin-right:2px;
}
.staff-table thead tr th:last-of-type div {
    margin-right:0;
}
.staff-table thead tr th:nth-of-type(4) div {
    white-space:nowrap;
    /*padding-top:6px;
    height:24px;*/
}
/*.pending-transfer-table thead tr th:nth-of-type(4) div {
    padding:15px 5px;
    height:15px;
}*/

.staff-table td {
    border:0;
}

.staff-table-row td>div, .staff-table-alternate-row td>div, .staff-table-row-red td>div, .staff-table-alternate-row-red td>div {
    /*border-right:1px solid #d7d7d7;
    border-left:1px solid #c2c3c3;*/
    padding:7px 5px 4px 5px;
    height:20px;
}

.staff-table-row
{

}
.staff-table-row td, .staff-table-alternate-row td, .staff-table-row-red td, .staff-table-alternate-row-red td {
    padding:4px 5px;
    margin:0;
}
/*.staff-table-alternate-row td {
    padding:3px 0;
}*/
.staff-table-row td{
    /*background-color:#ebecec;*/
}

.staff-table-alternate-row, .staff-table-row, .staff-table-row-red, .staff-table-alternate-row-red {
    /*border-radius:8px;*/
    background-color:transparent;
    /*cursor:pointer;*/
}
.pending-transfer-table .staff-table-alternate-row, .pending-transfer-table .staff-table-row, .pending-transfer-table .staff-table-row-red, .pending-transfer-table .staff-table-alternate-row-red {
    cursor:auto;
}
.staff-table-alternate-row td:first-of-type, .staff-table-row td:first-of-type
{
    /*border-bottom-left-radius:8px;
    border-top-left-radius:8px;*/
}
.staff-table-alternate-row td:last-of-type, .staff-table-row td:last-of-type
{
    /*border-bottom-right-radius:8px;
    border-top-right-radius:8px;*/
}
.staff-table-alternate-row td:last-of-type .tooltip, .staff-table-row td:last-of-type .tooltip, .staff-table-row-red td:last-of-type .tooltip, .staff-table-row-red td:last-of-type .tooltip,
.staff-table-alternate-row td:last-of-type .tooltip-alt, .staff-table-row td:last-of-type .tooltip-alt, .staff-table-row-red td:last-of-type .tooltip-alt, .staff-table-row-red td:last-of-type .tooltip-alt {
    position:relative;
    top:-2px;
}

.staff-table-alternate-row
{

}
.staff-table-alternate-row td{
    background-color:#fff;
}

.staff-table-row-red td, .staff-table-alternate-row-red td {
    /*background-color:#f36868;*/
    color:#f36868;
}
.staff-table-alternate-row-red td {
    /*background-color:#f79797;*/
}

.staff-table-row td:last-of-type div, .staff-table-alternate-row td:last-of-type div, .staff-table thead tr th:last-of-type div, staff-table-row-red td:last-of-type div, .staff-table-row-red td:last-of-type div {
    border-right:0;
}
.staff-table-row td:first-of-type div, .staff-table-alternate-row td:first-of-type div, .staff-table thead tr th:first-of-type div, staff-table-row-red td:first-of-type div, .staff-table-row-red td:first-of-type div {
    border-left:0;
}

.separator {
    background-color: #ddd;
    padding: 8px;
    font-weight: bold;
}

.div-training {
    position:relative;
    height:22px;
}
.div-training:hover {
    cursor:help;
}
.div-training:hover .training-details {
    display:block;
    cursor:help;
}
.div-training .training-details {
    z-index:1;
    position:absolute;
    top:100%;
    left:0;
    box-shadow:1px 3px 5px #C9C9C9;
    width:100%;
    box-sizing:border-box;
    display:none;
    text-align:left;
}
.div-training .training-details>div {
    margin:0 5px 5px 5px;
}
.staff-table-row td .div-training .training-details {
    background-color: #f7f7f7;
}
.staff-table-alternate-row td .div-training .training-details {
    background-color:#fff;
}