﻿@font-face {
	font-family: "VAGRoundedLight";
	src: url('fonts/VAG Rounded Light SSi Light.eot');
	src: url('fonts/VAG Rounded Light SSi Light.ttf') format('truetype');
}

@font-face {
	font-family: "VAG Rounded";
	src: url('fonts/VAG Rounded Bold.eot');
	/*src: url('fonts/vagroundedbold.ttf');*/
    src: url('fonts/VAG Rounded Bold.ttf') format('truetype');
}

@font-face {
	font-family: "VAGRounded-Light Italic";
	src: url('fonts/VAGRounded-Light Italic.eot');
	src: url('fonts/VAGRounded-Light Italic.ttf') format('truetype');
}

@font-face {
	font-family: "Aracne Regular";
    src: url('fonts/Aracne.eot');
    src: url('fonts/Aracne.eot?#iefix') format('embedded-opentype'),
         url('fonts/Aracne.woff') format('woff'),
         url('fonts/Aracne.ttf') format('truetype'),
         url('fonts/Aracne.svg#Aracne Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.font-AracneRegular
{
    font-family: "Aracne Regular", Arial;
}
.font-VAGRoundedLight, .font-normal
{
    font-family:"VAGRoundedLight";
}
.font-VAGRoundedBold, .font-bold
{
    font-family:"VAG Rounded";
}
.font-VAGRoundedLightItalic, .font-italic
{
    font-family:"VAGRounded-Light Italic";
}
.font-orange {
    color:#f57527;
}
.uppercase {
    text-transform:uppercase;
}

.message-box {
    background-color:#fff;
    box-shadow: 0 2px 4px #CCC;
    -moz-box-shadow: 0 2px 4px #CCC;
    border: 1px solid #f6f6f6;
}
.message-box h2 {
    border-top:1px solid black;
    border-bottom:1px solid black;
    font-size:1.1em;
    padding:4px 0;
    margin-bottom:20px;
}
.message-box .message-title {
    text-align:center;
    margin-bottom:25px;
}
.message-box.no-shadow {
    box-shadow:none;
}

.stats-repeater .row-even {
    background-color:#fff;
}
.stats-repeater .row-odd {
    background-color:#ebebeb;
}

.new-shop-scroller {
    overflow:hidden;
    width:100%;
    padding:25px 8px 20px 8px;
}
.new-shop-scroller div {
    display:inline-block;
    padding: 0 15px;
}