.toggle-slide {
  overflow: hidden;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  direction: ltr;
}
.toggle-slide .toggle-on,.toggle-slide .toggle-off,.toggle-slide .toggle-blob {
    float: left;
}
.toggle-slide .toggle-blob {
    position: relative;
    z-index: 1;
    cursor: hand;
    /*cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;*/
    margin:4px 0 3px 0;
}
.toggle-slide .toggle-blob, .toggle-slide .toggle-blob.left {
    position:relative;
    right:-3px;
}
.toggle-slide .toggle-blob.right {
    position:relative;
    right:3px;
}

.toggle-soft .toggle-slide {
  border-radius: 5px;
  background-color:#fff;
  box-shadow: inset 0 0 7px #999, 0 0 1px #666;
}
.toggle-soft .toggle-slide .toggle-on,.toggle-soft .toggle-slide .toggle-off,.toggle-soft .toggle-slide .toggle-blob {
  color: #000;
  font-size: 1em;
  text-transform:uppercase;
  /*font-family:'VAG Rounded';*/
}
.toggle-soft .toggle-slide .toggle-on, .toggle-soft .toggle-slide .toggle-off {
    position:relative;
    top:4px;
}
.toggle-soft .toggle-slide .toggle-on, .toggle-soft .toggle-select .toggle-inner {
    /*outline: 10px solid #fff;*/
}
.toggle-soft .toggle-slide .toggle-on, .toggle-soft .toggle-select .toggle-inner .active {
  color:#fff;
  /*background: -moz-linear-gradient(top,  #d2ff52 0%, #91e842 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d2ff52), color-stop(100%,#91e842));
  background: -webkit-linear-gradient(top,  #d2ff52 0%,#91e842 100%);
  background: -o-linear-gradient(top,  #d2ff52 0%,#91e842 100%);
  background: -ms-linear-gradient(top,  #d2ff52 0%,#91e842 100%);
  background: linear-gradient(to bottom,  #d2ff52 0%,#91e842 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842',GradientType=0 );*/

}
.toggle-soft .toggle-slide .toggle-off, .toggle-soft .toggle-select .toggle-on {
  /*background: -moz-linear-gradient(top,  #cfcfcf 0%, #f5f5f5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cfcfcf), color-stop(100%,#f5f5f5));
  background: -webkit-linear-gradient(top,  #cfcfcf 0%,#f5f5f5 100%);
  background: -o-linear-gradient(top,  #cfcfcf 0%,#f5f5f5 100%);
  background: -ms-linear-gradient(top,  #cfcfcf 0%,#f5f5f5 100%);
  background: linear-gradient(to bottom,  #cfcfcf 0%,#f5f5f5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfcfcf', endColorstr='#f5f5f5',GradientType=0 );*/
}
.toggle-soft .toggle-slide .toggle-blob {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 0 6px #999;
  /*background: -moz-linear-gradient(top,  #cfcfcf 0%, #f5f5f5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cfcfcf), color-stop(100%,#f5f5f5));
  background: -webkit-linear-gradient(top,  #cfcfcf 0%,#f5f5f5 100%);
  background: -o-linear-gradient(top,  #cfcfcf 0%,#f5f5f5 100%);
  background: -ms-linear-gradient(top,  #cfcfcf 0%,#f5f5f5 100%);
  background: linear-gradient(to bottom,  #cfcfcf 0%,#f5f5f5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfcfcf', endColorstr='#f5f5f5',GradientType=0 );*/
}
.toggle-soft .toggle-slide .toggle-blob:hover {
  /*background: #e4e4e4;
  background: -moz-linear-gradient(top,  #e4e4e4 0%, #f9f9f9 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4e4e4), color-stop(100%,#f9f9f9));
  background: -webkit-linear-gradient(top,  #e4e4e4 0%,#f9f9f9 100%);
  background: -o-linear-gradient(top,  #e4e4e4 0%,#f9f9f9 100%);
  background: -ms-linear-gradient(top,  #e4e4e4 0%,#f9f9f9 100%);
  background: linear-gradient(to bottom,  #e4e4e4 0%,#f9f9f9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e4e4', endColorstr='#f9f9f9',GradientType=0 );

  box-shadow: inset 0 0 0 1px #ddd,inset 0 0 0 2px #ddd;*/
}

.toggle-soft .toggle-slide.active {
    background-color:#f57527;
    box-shadow: inset 0 0 7px #777, 0 0 1px #444;
}