﻿@media print {
    .bottom-bar-container {
        display:none;
    }
}

#div-form
{
    
}

.other-reason
{
    display:flex;
    flex-direction:row;
    width:calc(100% - 5px);
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
}
.other-reason>div {
    margin:0 5px;
}
.other-reason>div:first-of-type {
    flex:1;
    margin-left:0;
}

.bottom-bar-container
{
    position:absolute;
    left:0;
}
.bottom-bar {
    position:fixed;
    bottom:0;
    width:100%;
}
.main-button-bar
{
    height:40px;
    background-color:#fff;
    box-shadow:-1px -1px 5px #808080;
    text-align: left;
    white-space: nowrap;
    font-size: 0;
    background-color:#f57527;
}
.main-button-bar input[type=submit], .more-option-bar input[type=submit] {
    border-radius: 0px;
    width:100%;
    height: 100%;
    vertical-align:top;
    margin:0;
}
.main-button-bar input[type=submit] {
    width: calc(100% - 30px);
}
.main-button-bar input:first-of-type {
    border-right:0;
}
.main-button-bar input:last-of-type {
    border-left:0;
}
.bottom-bar input[type=submit]:hover, .more-option-button:hover {
    border-color:#f57527;
}
.more-option-button {
    background:url(Img/more_vert_white.png) #f57537 center no-repeat;
    background-size:30px;
    height:100%;
    width:30px!important;
    margin:0;
    border-radius:0;
}
.more-option-bar {
    display:none;
}
.more-option-bar .button {
    height:40px!important;
    padding-right:40px;
    background-color:rgba(245, 117, 39, 0.7);
}

.tracfin-statement-loading, .clientsearch-panel-loading
{
    background:url('img/loading.gif') no-repeat center;
    background-size:20px !important;
    display:none;
    position:fixed;
    background-color:rgba(255, 255, 255, 0.5);
    z-index:100000;
}

input[type=text], 
input[type=text][readonly], 
input[type=text][disabled],
textarea[readonly]
{
    background-color: white;
    color:#000;
    height: 28px;
    width:100%;
    display: block;
    padding: 4px 2px;
    font-size: 1em;
    border: 1px solid #a9a9a9;
    box-sizing:border-box;
    white-space: initial;
}
textarea, textarea[readonly] {
    width:100%;
    height:200px;
    resize:vertical;
    font-family:Arial;
    font-size:1em;
    box-sizing:border-box;
}
textarea[readonly] {
    white-space: pre-line;
}
select {
    height:28px !important;
    width:100%;
}
select[disabled] {
    background-color:transparent;
    border:0;
    -webkit-appearance:none;-moz-appearance:none;
    color:#344b56;
}
fieldset {
    padding-top:0;
}
legend {
    font-size:1.3em;
}

.info-block {
    padding: 0 0 0 10px;
    border-left: 1px solid #f57527;
}

#div-ope-table
{
    max-height:500px;
    overflow-y:scroll;
    overflow-x:hidden;
}

.main-article {
    font-size:1.2em;
    font-weight:bold;
}

.clickable:hover {
    cursor:pointer;
}

.radioButtonList {
    display:inline-table!important;
    position:relative;
    top:7px;
    font-size: 0.75em!important;
}
.radioButtonList span {
    padding:0.3em 0.6em!important;
}

.fake-legend {
    position: absolute;
    top: -13px;
    left: 18px;
}
.fake-legend.no-button {
    top: 1px;
}
.fake-legend .legend-label {
    font-size: 1.3em;
    font-weight: 600;
}

.inputfile {
    z-index:unset!important;
}

.div-ope-footer {
    background-color: #344b56;
    color: #fff;
    padding-left:4px;
}

.saving-status {
    display: none;
    position: fixed;
    top: 10px;
    left: 0px;
    padding: 3px 20px 0 10px;
    background: white;
    background: linear-gradient(to left, rgba(255,255,255,0), rgba(255,255,255,1));
}
.saving-status.visible {
    display:block;
}
.icon-saving, .icon-saving-fail, .icon-saving-done {
    display:none;
    width:25px;
    z-index:1000;
}
.icon-saving {
    animation: blinker 1s linear infinite;
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}