﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ProNotificationCounter.ascx.cs" Inherits="API_ProNotificationCounter" %>

<asp:Panel ID="panelNbProNotification" runat="server" CssClass="pro-notif-icon">
    <div>
        <asp:Label ID="lblNbProNotification" runat="server"></asp:Label>
    </div>
    <div>
        notif.
        <br />
        PRO
    </div>
</asp:Panel>